

/*
 * Blocks
 */

.block-group{ cursor: move; }

.block-rect{ fill: #ffffff; stroke: #d8d8d8; stroke-width: 1; }

.block-header{ stroke: #d8d8d8; stroke-width: 1; }
rect.block-config{ fill: #1f77b4; }

.block-name{ fill: #e8e8e8; font-size: 1.1em; }
.block-definition{ fill: #b8b8b8; }

.block-icon { font-family: FontAwesome; fill: #b8b8b8; }

/*
 * Connectors
 */

.connector{ stroke-width: 1; }
circle.block-config{ stroke: #1f77b4; fill: #aec7e8; }

/*
 * Wires
 */

.wire { stroke: #989898; stroke-width: 4; fill: transparent; }
.wire-endpoint { fill: #989898; }
