
/*
 * Diagram
 */

.diagram-canvas-container { width: 100%; height: 100%; }
.diagram-canvas { width: 100%; height: 100%; }
.panning { cursor: -webkit-grabbing; }

/*
 * Blocks
 */

.block-group { cursor: move; }
.block-group.ng-leave { -webkit-animation: fadeOut 0.4s; }

.block{ fill: #ffffff; stroke-width: 1; }
.block-unselected{ stroke: #d8d8d8; }
.block-selected{ stroke: #1f77b4; stroke-width: 2; }

.block-delete { cursor: pointer; opacity: 0; -webkit-transition: opacity 0.4s ease-in-out; transition: opacity 0.4s ease-in-out; }
.block-delete-circle { fill: #ffffff; stroke: #7f7f7f; stroke-width: 1; }
.block-delete-text:hover { cursor: pointer; fill: #d62728; }

.block-group:hover .block { stroke: #7f7f7f; }
.block-group:hover .block.block-selected { stroke: #1f77b4; stroke-width: 2; }
.block-group:hover .block-delete { opacity: 1; }

.block-header{ stroke: #d8d8d8; stroke-width: 1; }

.block-name{ fill: #686868; font-size: 1.1em; }
.block-name:hover { cursor: text; }
.block-definition{ fill: #b8b8b8; }

.block-button-wrapper { cursor: pointer; opacity: 0; -webkit-transition: opacity 0.4s ease-in-out; transition: opacity 0.4s ease-in-out; }
.block-button { fill: #fff; stroke-width: 1px; stroke: #b8b8b8; }
.block-button-wrapper text { font-size: 1.0em; }
.block-button-wrapper:hover .block-button { fill: #1f77b4; stroke: #1f77b4; }
.block-button-wrapper:hover text { fill: #f8f8f8; }
.block-group:hover .block-button-wrapper { opacity: 1; }

.block-icon { font-family: FontAwesome; fill: #b8b8b8; }

/*
 * Progress
 */


.block-progress circle { stroke-dasharray: 87.5; stroke-width: 5px; }

.progress-text { font-family: FontAwesome; fill: #686868; }

.progress-foreground {
    fill: transparent;
    transition: stroke-dashoffset 0.6s;
    -webkit-transition: stroke-dashoffset 0.6s;
}
.block-config .progress-foreground { stroke: #ff7f0e; stroke-dashoffset: 65.625; }
.block-ready .progress-foreground { stroke: #9467bd; stroke-dashoffset: 43.75; }
.block-executing .progress-foreground { stroke: #2ca02c; stroke-dashoffset: 21.875; }
.block-complete .progress-foreground { stroke: #1f77b4; stroke-dashoffset: 0; }
.block-error .progress-foreground { stroke: #d62728; stroke-dashoffset: 0; }

.progress-background { fill: #f8f8f8; }
.block-config .progress-background { stroke: #fdd0a2; }
.block-ready .progress-background { stroke: #dadaeb; }
.block-executing .progress-background { stroke: #c7e9c0; }
.block-complete .progress-background { fill: #aec7e8; }
.block-error .progress-background { fill: #ff9896; }
.block-complete .progress-text { fill: #ffffff; }
.block-error .progress-text { fill: #ffffff; }

/*
 * Diagram Navigation
 */

.diag-nav-wrapper { position: absolute; z-index: 1000; top: 60px; left: 80px; width: 3000px; height: -webkit-calc(100% - 200px); }
.diag-nav-wrapper.ng-enter { -webkit-animation: fadeIn 0.4s; }
.diag-nav-wrapper.ng-leave { -webkit-animation: fadeOut 0.4s; }
.diag-nav-wrapper:before { content: ""; position: absolute; top: -17px; left: 7.5px; border-right: 17px solid transparent; border-left: 17px solid transparent; border-bottom: 17px solid #5fa2dd; }
.diag-nav-wrapper:after { content: ""; position: absolute; top: -16px; left: 7.5px; border-right: 17px solid transparent; border-left: 17px solid transparent; border-bottom: 17px solid #5fa2dd; }

.diag-nav-container { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; overflow: hidden; }

#diag-nav-home { display: block; position: relative; float: left; height: 100%; width: 70px; padding: 50px 0 0 0; margin: 0; background-color: #5fa2dd; }
#diag-nav-home .vertical-tab { position: relative; color: #fff; margin: 0; border-radius: 0; }
#diag-nav-home .vertical-tab:hover { color: #1f77b4; }
#diag-nav-home .vertical-tab.active { background-color: #fff; color: #1f77b4; }
#diag-nav-home .tab-text { font-size: 0.7em; }

.diag-nav-properties-wrapper { position: absolute; width: auto; height: 100%; top: 0px; left: 70px; z-index: 2000; overflow: hidden; }
.diag-nav-properties-wrapper.ng-enter { -webkit-animation: fadeIn 0.4s; }
.diag-nav-properties-wrapper.ng-leave { -webkit-animation: fadeOut 0.4s; }
.diag-nav-properties-page { position: relative; width: 400px; height: 100%; top: 0px; background-color: white; float: left; }

.diag-nav-new-wrapper { position: absolute; width: auto; height: 100%; top: 0px; left: 70px; z-index: 2000; overflow: hidden; }
.diag-nav-new-wrapper.ng-enter { -webkit-animation: fadeIn 0.4s; }
.diag-nav-new-wrapper.ng-leave { -webkit-animation: fadeOut 0.4s; }
.diag-nav-new-page { position: relative; width: 400px; height: 100%; top: 0px; background-color: white; float: left; }

.diag-nav-open-container { position: absolute; width: auto; height: 100%; top: 0px; left: 70px; z-index: 2000; overflow: hidden; }
.diag-nav-open-container.ng-enter { -webkit-animation: fadeIn 0.4s; }
.diag-nav-open-container.ng-leave { -webkit-animation: fadeOut 0.4s; }
.diag-nav-open-wrapper { position: relative; width: auto; height: 100%; top: 0px; left: 0px; z-index: 2000; overflow: hidden; -webkit-transition: 0.4s ease; }
.diag-nav-open-wrapper.ng-enter { -webkit-transform: translateX(-250px); }
.diag-nav-open-wrapper.ng-enter-active { -webkit-transform: translateX(0px); }
.diag-nav-open-wrapper.ng-leave { -webkit-transform: translateX(0px); }
.diag-nav-open-wrapper.ng-leave-active { -webkit-transform: translateX(-250px); }
.diag-nav-open-page { position: relative; width: 250px; height: 100%; top: 0px; background-color: white; float: left; -webkit-transition: 0.4s ease all; }
.diag-nav-open-page.ng-enter { -webkit-transform: translateX(-250px); }
.diag-nav-open-page.ng-enter-active { -webkit-transform: translateX(0px); }
.diag-nav-open-page.ng-leave { -webkit-transform: translateX(0px); }
.diag-nav-open-page.ng-leave-active { -webkit-transform: translateX(-250px); }
.diag-nav-open-page-content { position: absolute; top: 0px; left: 0px; width: 100%; height: -webkit-calc(100% - 30px); padding: 5px; border-right: 1px solid lightgrey; border-bottom: 1px solid lightgrey; }
.diag-nav-open-page-item { width: 100%; height: 25px; -webkit-user-select: none; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.diag-nav-open-page-item:hover { cursor: pointer; font-weight: bold; color: #1f77b4; }
.diag-nav-open-path { position: absolute; bottom: 2px; left: 0px; height: 30px; width: auto; z-index: 3000; padding-left: 5px; vertical-align: middle; line-height: 30px; float: left; }
.diag-nav-open-path-file-type { height: 30px; width: auto; float: left; }
.diag-nav-open-path-item { height: 30px; float: left; }
.diag-nav-open-path-item.ng-enter { -webkit-animation: fadeIn 0.4s; }
.diag-nav-open-path-item.ng-leave { -webkit-animation: fadeOut 0.4s; }
.diag-nav-open-path-item-clickable { float: left; margin-right: 3px; }
.diag-nav-open-path-item-clickable:hover { cursor: pointer; color: #1f77b4; }
.diag-nav-open-path-item-caret { float: left; margin-right: 3px; }
.diag-nav-open-props-wrapper { width: 100%; height: 100%; height: -webkit-calc(100% - 30px); border-bottom: 1px solid lightgrey;}
.diag-nav-open-props-body { font-size: 13px; width: 100%; height: -webkit-calc(100% - 49px); padding: 10px; }
.diag-nav-open-props:hover { cursor: default; }
.diag-nav-open-props-title { color: #989898; font-weight: normal; margin-bottom: 2px; height: 40px; line-height: 40px; width: 100%; text-align: center; vertical-align: middle; font-size: 1.5em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.diag-nav-open-props-title:hover { cursor: default; }
.diag-nav-open-props-value { font-size: 14px; height: 30px; line-height: 30px; vertical-align: middle; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.diag-nav-open-props-value:hover { cursor: default; }
.diag-nav-open-props-footer { height: 49px; width: 100%; padding: 10px; }
.diag-nav-open-props-icon { height: 49px; line-height: 49px; width: 50px; text-align: center; vertical-align: middle; }
.diag-nav-open-props-icon:hover { cursor: pointer; color: #1f77b4; }
.diag-nav-open-page-highlight-file { font-weight: bold; }
.diag-nav-open-page-file-type { margin-right: 5px; }

.diag-nav-props-body { position: relative; font-size: 13px; width: 100%; height: -webkit-calc(100% - 49px); padding: 10px; }
.diag-nav-props-footer { height: 49px; width: 100%; padding: 10px; }
.diag-nav-props-footer-btn-margin-right { margin-right: 10px; }
.diag-nav-props-category-container { height: 30px; width: 100%; }
.diag-nav-props-category-container-item { float: left; }
.diag-nav-props-category-select { width: -webkit-calc(100% - 42px); margin-right: 5px; }
.diag-nav-props-new-category { height: auto; width: 100%; }
.diag-nav-props-item-height { font-size: 12px; height: 30px; line-height: 19px; }
.diag-nav-props-title { color: #989898; font-weight: normal; margin-bottom: 2px; height: 28px; line-height: 28px; width: 100%; text-align: center; vertical-align: middle; font-size: 1.5em; }
.diag-nav-props-title:hover { cursor: default; }

/*
 * Diagram Configuration
 */

.diagram-properties {
    position: fixed;
    z-index: 1000;
    top: 60px;
    right: 10px;
    width: 250px;
    height: calc(100% - 200px);
    height: -webkit-calc(100% - 200px);
    height: -moz-calc(100% - 200px);
    border-radius: 5px;
    border: 1px solid #989898;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.175);
    border-top: 4px solid #1f77b4;
}

.diagram-properties.ng-enter { -webkit-animation: fadeIn 0.4s; }

.diagram-properties.ng-leave { -webkit-animation: fadeOut 0.4s; }

.diagram-properties:before {
    content: "";
    position: absolute;
    top: -20px;
    right: 130px;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    border-bottom: 17px solid #1f77b4;
}

.diagram-properties:after {
    content: "";
    position: absolute;
    top: -19px;
    right: 130px;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    border-bottom: 17px solid #1f77b4;
}

.diagram-property { margin-top: 10px; }
.diagram-property label { color: #989898; font-weight: normal; margin-bottom: 2px; }

/*
 * Connectors
 */

.connector-group { cursor: pointer; }

.connector {
    stroke-width: 1;
    stroke: #7f7f7f;
    fill: #f0f0f0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: fill, -webkit-transform;
    transition: fill, -webkit-transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.connector-hover {
    fill: #1f77b4;
    -webkit-transform: scale(3);
    transform: scale(3);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: fill, -webkit-transform;
    transition: fill, -webkit-transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.connector-icon {
    visibility: hidden;
    opacity: 0;
}

.connector-icon-hover {
    visibility: visible;
    opacity: 1;
    fill: #ffffff;
    font-size: 2em;
    transition: opacity linear 0.4s;
}

.connector-name-group {
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.connector-name-group-block-hover { opacity: 1; }

.connector-name-group-in-hover {
    opacity: 1;
    -webkit-transform: translate(0,-10px);
    transform: translate(0,-10px);
}

.connector-name-group-out-hover {
    opacity: 1;
    -webkit-transform: translate(0,10px);
    transform: translate(0,10px);
}

.connector-name-bg { stroke-width: 1; stroke: #7f7f7f; fill: #f0f0f0; }
.connector-name { }

/*
 * Root Connector
 */

#root-connector-container {
    cursor: pointer;
}

#root-connector-container.ng-leave { -webkit-animation: fadeOut 0.6s; }
#root-connector-container.ng-enter { -webkit-animation: fadeIn 0.6s; }

#root-connector {
    fill: #1f77b4;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: fill, -webkit-transform;
    transition: fill, -webkit-transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#root-connector-text {
    fill: #ffffff;
    font-size: 1.8em;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: font-size;
    transition: font-size;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#root-connector-container:hover #root-connector {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: fill, -webkit-transform;
    transition: fill, -webkit-transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#root-connector-container:hover #root-connector-text {
    font-size: 2.4em;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: font-size;
    transition: font-size;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

/*
 * Wires
 */

.wire { stroke-width: 4; fill: transparent; }
.wire-group.ng-leave { -webkit-animation: fadeOut 0.4s; }

.wire-unselected { stroke: #989898; }
.wire-selected { stroke: #989898; }
.wire-mouseover { stroke: #989898; }

.wire-endpoint { fill: #989898; }
.wire-endpoint-selected { fill: #989898; }
.wire-endpoint-mouseover { fill: #989898; }

.dragging-wire { pointer-events: none; stroke: #989898; }

/*
 * Library Browser Modal
 */

.modal-body { padding: 0; }

#browser-modal{
    position: relative;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 280px;
}

.library-popup-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1150;
}

.library-popup-wrapper.ng-enter {
    -webkit-animation: zoomIn 0.6s;
    animation: zoomIn 0.6s;
}

.library-popup {
    position: relative;
    margin: 80px auto;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #989898;
    background-color: white;
    -webkit-animation-delay: 2.0s;
    animation-delay: 2.0s;
}

.library-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #c6dbef;
    width: 100%;
    z-index: 1100;
    opacity: 0.6;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.library-backdrop.ng-enter,
.library-backdrop.ng-leave.ng-leave-active {
    opacity: 0;
}
.library-backdrop.ng-enter.ng-enter-active,
.library-backdrop.ng-leave {
    opacity: 0.6;
}

#drag-selection-rect { fill: #1f77b4; fill-opacity: 0.2; stroke: #1f77b4; stroke-width: 1; stroke-dasharray: 10; }

#rename-input { width: 147px; text-align: center; }

.zoom-controls { position: absolute; bottom: 0; right: 0; }
.zoom-controls button, .zoom-controls div { display: block; margin: 0 16px 10px 0; width: 40px; }
.zoom-controls div { font-size: 0.8em; text-align: center; }