

html, body { height: 100%; }
body { font-family: Roboto, arial, sans-serif; background-color: #c5c5c5; overflow: hidden; }

[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }

/* main layout  */
#main-tabs { display: block; position: relative; float: left; height: 100%; width: 70px; padding: 50px 0 0 0; margin: 0; background-color: #32404e; }
#main-tabs .vertical-tab { position: relative; color: #adb3b8; margin: 0; border-radius: 0; }
#main-tabs .vertical-tab:hover { color: #fff; }
#main-tabs .vertical-tab.active { background-color: #2986b8; color: #fff; }
#main-tabs .tab-text { font-size: 0.7em; }
.tab-badge-warning { color: #d62728; }
.tab-badge { position: absolute; right: 0; top: 0; }
.tab-badge i { font-size: 1.5em; }
.tab-badge i:first-child { color: #fff; }

.alert-container { position: absolute; width: 70%; height: 48px; bottom: 2px; left: 0; margin: 0 15% 0 15%; z-index: 2; }
.alert { position: relative; display: block; width: 100%; height: 48px; margin: 0; padding: 0 20px 0 20px; }
.alert-icon { font-size: 28px; margin: 10px 0 10px 0; }
.alert-text { display: inline-block; line-height: 48px; font-size: 1.1em; margin-left: 5px; }

#main-content { display: block; position: relative; height: 100%; width: 100%; overflow: hidden; }

.unselectable { -webkit-user-select: none; user-select: none; }

.btn.disabled, .btn:disabled { cursor: not-allowed; }

/* Studio */

#studio-wrapper { width: 100%; height: 100%; }
#studio-wrapper.blur-background { -webkit-filter: blur(3px); filter: blur(3px); }

/* navigation bar */
.navbar { background-color: #f5f5f5; margin: 0; padding: 0; border: 0; border-radius: 0px }
.navbar-left { padding-left: 30px; }
.navbar-right { padding-right: 30px; }
.navbar-item { display: inline-block; font-size: 1.4em; line-height: 50px; margin: 0 0 0 10px; padding: 0; color: #737373; }
.navbar-item a { cursor: pointer; color: #737373; }
.navbar-item a:hover { color: #262626; }
a.navbar-btn.fa-stack { font-size: 1.2em; }
.navbar-tabs { text-align: center; }
.navbar-tab { display: inline-block; line-height: 24px; font-size: 1.1em; padding: 14px 0 10px 0; text-align: center; border-bottom: 2px solid transparent; color: #737373; cursor: pointer; transition: border-color 0.4s; }
.navbar-tab+.navbar-tab { margin-left: 60px; }
.navbar-tab-icon { float: left !important; line-height: 24px; width: 22px; }
.navbar-tab-text { display: inline-block; margin-left: 10px; font-size: 0.9em; }
.navbar-tab:hover { border-color: #4285f4; }
.navbar-tab:hover .navbar-tab-text { color: #262626; }
.navbar-tab.selected { border-color: #4285f4; }
.navbar-tab.selected .navbar-tab-text { color: #262626; font-weight: bold; }

.navbar-state { line-height: 24px; width: 30px; margin-left: 15px; padding-top: 12px; font-size: 24px; text-align: center; }
.state-icon.idle { color: #7f7f7f; }
.state-icon.running { color: #2ca02c; }

/* canvases */
.studio-item { position: relative; float: left; height: -webkit-calc(100% - 50px); }
.studio-item-transition { transition: width 0.4s ease; }
#studio-container { perspective: 1200px; border-top: 1px solid #d5d5d5; }
#studio-canvases { height: 100%; transition: transform 0.6s; transform-origin: right center; transform-style: preserve-3d; }
.studio-canvas { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #e5e5e5; backface-visibility: hidden; }
#offline-canvas { transform: rotateY(0deg); }
#online-canvas { transform: rotateY(180deg); }
#studio-canvases.flipped { transform: translateX( -100% ) rotateY( -180deg ); }

#terminal-wrapper { background-color: #fff; border-left: 1px solid #d5d5d5; border-top: 1px solid #d5d5d5; }
.terminal-container { height: 100%; width: 100%; }
#terminal { height: -webkit-calc(100% - 40px); width: 100%; }
.terminal-transition { transition: height 0.4s ease; }
.terminal-output-container { position: relative; width: 100%; overflow-y: scroll; }
.terminal-output { position: relative; width: -webkit-calc(100% - 20px); margin: 10px; padding: 5px; }
.terminal-output-date { width: 100%; overflow: hidden; font-size: 0.8em; }
.terminal-output-description { width: 100%; overflow: scroll; padding: 5px; }
.terminal-output-description.STARTED { background-color: #98df8a; border: 1px solid #2ca02c; }
.terminal-output-description.COMPLETED { background-color: #aec7e8; border: 1px solid #1f77b4; }
.terminal-output-description.FAILED { background-color: #ff9896; border: 1px solid #d62728; }
.terminal-output-description.OUTPUT { background-color: #c5b0d5; border: 1px solid #9467bd; }
.terminal-input-container { position: relative; width: 100%; background-color: #eee; border-top: 1px solid #d5d5d5; padding: 10px; overflow: hidden; }
.CodeMirror { width: 100%; height: 100%; border: 1px solid #d5d5d5; }
.CodeMirror-empty { color: #ccc; }
.terminal-menu { position: relative; height: 40px; width: 100%; background-color: #f5f5f5; border-top: 1px solid #d5d5d5; }
.terminal-buttons { width: 100%; height: 100%; }
.terminal-buttons.ng-enter { -webkit-animation: fadeIn 0.8s; }
.terminal-button { position: absolute; border-radius: 50%; top: -5px; left: 50%; margin-left: -20px; box-shadow: 0px 2px 6px rgba(0,0,0,0.3), 0px 0px 1px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.25), inset 0px -1px 0px rgba(0,0,0,0.15); }
.terminal-button a { position: relative; display: block; width: 40px; height: 40px; line-height: 40px; border-radius: 50%; background-color: #5fa2dd; text-align: center; vertical-align: bottom; color: #fff; cursor: pointer; }
.terminal-button a:hover { background-color: #5692c7; color: #fff; }
.terminal-input-open.ng-enter { -webkit-animation: fadeIn 0.4s; }
.terminal-input-open.ng-leave { -webkit-animation: fadeOut 0.4s; }
.terminal-input-button.ng-hide-add { transition: transform 0.4s, opacity 0.1s 0.3s; }
.terminal-input-button.ng-hide { opacity: 0; }
.terminal-input-button, .terminal-input-button a { transition: transform 0.4s; }
.terminal-input-send a { transform: rotate(-180deg); }
.terminal-input-cancel a { transform: rotate(180deg); }
.terminal-input-send.active { transform: translate(50px, 0); }
.terminal-input-cancel.active { transform: translate(-50px, 0); }
.terminal-input-send.active a, .terminal-input-cancel.active a { transform: rotate(0deg); }

/* studio properties */
#studio-properties { box-shadow: 0px 6px 12px rgba(0,0,0,0.175); }

#library-browser{
    position: absolute;
    z-index: 1000;
    top: 65px;
    left: 15px;
    width: 180px;
    height: -webkit-calc(100% - 80px);
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.175);
    border-top: 4px solid #4285f4;
    border-radius: 5px;
}

#library-browser.ng-leave { -webkit-animation: fadeOut 0.6s; }
#library-browser.ng-enter { -webkit-animation: fadeIn 0.6s; }

#library-browser:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 5px;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    border-bottom: 17px solid #4285f4;
}

#library-browser:after {
    content: "";
    position: absolute;
    top: -19px;
    left: 5px;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    border-bottom: 17px solid #4285f4;
}

#browser-container { position: relative; width: 100%; height: 100%; overflow-x: hidden; }

/* file dragging */
.drop-target { position: absolute; visibility: hidden; pointer-events: none; width: calc(100% - 20px); height: calc(100% - 20px); margin: 10px; z-index: 2; border: 4px dashed #989898; font-size: 3em; color: #989898; text-align: center; padding-top: 50px; }
.dragging-file .drop-target { visibility: visible; }

/* studio canvas controls */
.studio-controls { position: absolute; z-index: 2; }
.studio-controls button { width: 40px; }
.studio-controls.ng-leave { -webkit-animation: fadeOut 0.6s; }
.studio-controls.ng-enter { -webkit-animation: fadeIn 0.6s; }
#library-controls { top: 10px; left: 15px; }
#pointer-controls { margin-left: 15px; }
button.diagram-evaluating { color: #2ca02c; }
#grouping-controls { top: 70px; right: 15px; }

.dotted-retangle { float: left; width: 18px; height: 14px; margin: 3px 0 3px -2px; border: 1px dotted #333; }

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

#properties-menu {
    position: absolute;
    right: -200px;
    top: 0;
    background-color: #d9d9d9;
    width:200px;
    height: 100%;
    overflow-y:auto;
    overflow-x:hidden;
}

/* Diagram Controls */
.diag-ctrls { position: absolute; top: 10px; right: 10px; z-index: 4; }

.round-button { position: absolute; display: inline-block; border-radius: 50%; text-align: center; vertical-align: middle; background-color: #1a7cc6; color: #fff; cursor: pointer; }
.round-button:hover { background-color: #5ba1d6; color: #fff; }
.round-button:active { background-color: #16649f; color: #fff; }
.round-button i { text-align: center; vertical-align: middle; }
.diag-ctrls-btn { transition: transform .4s ease-in-out, top .4s ease-in-out, right .4s ease-in-out; box-shadow: 0px 2px 6px rgba(0,0,0,0.3), 0px 0px 1px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.25), inset 0px -1px 0px rgba(0,0,0,0.15); }
.diag-ctrls-btn-c { top: 0; right: 0; font-size: 22px; z-index: 1; }
.diag-ctrls-btn-c.starting, .diag-ctrls-btn-c.evaluating { background-color: #5cb85c; cursor: auto; }
.diag-ctrls-btn-c.stopping { background-color: #d62728; cursor: auto; }
.diag-ctrls-btn-o { z-index: 0; font-size: 18px; }
.diag-ctrls-btn-o.rotated { transform: rotate(180deg); }
.diag-ctrls-btn-x { top: 0; right: 0; font-size: 22px; z-index: 2; opacity: 0; }
.diag-ctrls-btn-x:hover { background-color: #d62728; color: #fff; opacity: 1; }
.diag-ctrls-btn-x:active { background-color: #ff9896; color: #d62728; opacity: 1; }

/* Animated loader */

#loader-overlay { position: absolute; top: 0; left: 0; background-color: #e5e5e5; width: 100%; height: 100%; z-index: 3; }
#loader-overlay.ng-leave { -webkit-animation: fadeOut 1s; }
.loader {
    margin: 25px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.8em solid rgba(49, 130, 189, 0.2);
    border-right: 0.8em solid rgba(49, 130, 189, 0.2);
    border-bottom: 0.8em solid rgba(49, 130, 189, 0.2);
    border-left: 0.8em solid #3182bd;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load 0.8s infinite linear;
    animation: load 0.8s infinite linear;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 6em;
    height: 6em;
}
@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* deployment notification */

#deployment-notification {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 200px;
    height: 80px;
    background-color: #c7e9c0;
    border: 1px solid #31a354;
    border-radius: 10px;
    z-index: 4;
}

#deployment-notification.ng-leave { -webkit-animation: slideOutDown 0.6s; }
#deployment-notification.ng-enter { -webkit-animation: slideInUp 0.6s; }

#notification-exit { color: #31a354; position: absolute; right: 5px; top: 3px; cursor: pointer; }

/* modal directive */
.emr-modal { background-color: #f3f3f3; position: absolute; border-radius: 15px; z-index: 1150; box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175); }
.emr-modal-header { position: relative; width: 100%; height: 70px; padding-left: 20px; border-bottom: 1px solid #d9d9d9; }
.emr-modal-icon { position: relative; display: block; float: left; line-height: 70px; color: #32404e; }
.emr-modal-icon i { vertical-align: middle; }
.emr-modal-header-text { position: relative; display: block; float: left; padding: 10px 0 10px 20px; }
.emr-modal-header-title { position: relative; display: block; font-size: 1.5em; }
.emr-modal-header-sub-title { position: relative; display: block; font-size: 1.1em; color: #999; }
.emr-modal-body { position: relative; background-color: #fff; width: 100%; height: -webkit-calc(100% - 130px); height: calc(100% - 130px); margin: 0; clear: both; }
.emr-modal-footer { position: relative; width: 100%; line-height: 60px; height: 60px; vertical-align: middle; text-align: right; padding-right: 20px; border-top: 1px solid #d9d9d9; }
.emr-modal-footer .btn+.btn { margin-left: 10px; }
.emr-modal-backdrop { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #32404e; opacity: 0; }

#chart-axes-controls { position: relative; width: 100%; margin: 15px 0 10px 0; }
#chart-axes-controls .radio-inline { margin-right: 20px; }

/* range slider */
.range-slider { position: relative; width: 100%; height: 38px; margin-top: 5px; }
.range-slider input { pointer-events: none; position: absolute; top: 0; left: 0; }
.range-slider input::-webkit-slider-thumb { pointer-events: all; position: relative; z-index: 1; outline: 0; }
.range-slider-labels { position: absolute; width: 100%; height: 20px; top: 18px; }
.range-slider-label { font-size: 0.8em; }

/* block data view */
#block-data-wrapper { height: 100%; width: 100%; margin: 0; padding: 0; }
#block-data-tabs { display: block; position: relative; float: left; height: 100%; width: 70px; margin: 0; padding: 0; background-color: #e5e5e5; }
#block-data-container { display: block; position: relative; float: left; height: 100%; width: -webkit-calc(100% - 70px); color: #666; }
.block-data-content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #f9f9f9; overflow: hidden; }

/* explore view */
#explore-wrapper { position: relative; height: 100%; width: 100%; margin: 0; padding: 0; }
#explore-tabs { display: block; position: relative; float: left; height: 100%; width: 70px; margin: 0; padding: 0; background-color: #e5e5e5; }
.vertical-tabs { list-style-type: none; margin: 0; padding: 0; }
.vertical-tab { text-align: center; margin: 0 0 5px 3px; padding: 5px 0 5px 0; color: #666; cursor: pointer; border-radius: 6px 0 0 6px; border-top: 1px solid transparent; border-bottom: 1px solid transparent; border-left: 1px solid transparent; }
.vertical-tab:hover { color: #3182bd; }
.vertical-tab.active { background-color: #f9f9f9; }
.tab-icon { margin: 0; padding: 0; }
.tab-text { margin: 0; padding: 0; font-size: 0.8em; }

/* Explore Chart directive */
.explore-chart-container { position: relative; width: 100%; height: 100%; background-color: #fff; overflow: hidden; }

.chart-menu-container { position: absolute; left: 0; width: 250px; height: 100%; background-color: #f9f9f9; border-right: 1px solid #e5e5e5; overflow: visible; z-index: 1; transition: left 0.4s ease; }
.chart-menu-container.menu-closed { left: -250px; }
#chart-menu-expander { position: absolute; top: 10px; right: -20px; width: 20px; height: 40px; line-height: 40px; text-align: center; vertical-align: middle; background-color: #e7e7e7; border: 1px solid #c9c9c9; opacity: 0.5; cursor: pointer; }
#chart-menu-expander:hover { opacity: 1; }
.chart-menu { position: relative; width: 100%; height: 100%; padding: 15px 10px 4px 10px; overflow-x: hidden; overflow-y: scroll; }
.chart-menu-header { width: 100%; height: 30px; color: #666; line-height: 30px; font-size: 1.2em; cursor: default; }

.chart-container { position: relative; height: 100%; width: -webkit-calc(100% - 250px); margin-left: 250px; background-color: #fff; }
.chart-container.menu-closed { width: 100%; margin-left: 0; }

#explore-container { display: block; position: relative; float: left; height: 100%; width: -webkit-calc(100% - 70px); color: #666; }
.explore-content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #f9f9f9; visibility: hidden; overflow: hidden; }
.explore-content.active { visibility: visible; }

.chart-fade.ng-hide-remove { transition: 0.5s linear all; opacity: 1; }
.chart-fade.ng-hide { transition: 0.5s linear all; opacity: 0; }
.chart-content-expand { width: 100%; -webkit-transition: width 0.75s ease-out; }
.chart-menu-header i+i { margin-left: 6px; }
.chart-menu-item { margin: 10px 0 10px 0; }
.add-series { background-color: #fff; border-radius: 6px; border: 2px dashed #989898; padding: 10px; }
.add-series:hover { cursor: default; }
.add-series-item { margin-bottom: 8px; }
.add-series-footer { height: 34px; }
.chart-series { position: relative; background-color: #fff; margin: 10px 0 10px 0; padding: 6px; outline: 1px solid #e9e9e9; }
.chart-series.ng-enter { -webkit-animation: fadeIn 0.25s; }
.chart-series.ng-leave { -webkit-animation: fadeOut 0.25s; }

.series-button { float: left; width: 28px; height: 28px; cursor: pointer; }
.series-button.xCoord { margin-top: 11px; }
.series-selector { width: 100%; height: 100%; pointer-events: none; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: 0.25s ease-in-out; }
.series-selector.flipped { -webkit-transform: rotateY( 180deg ); }
.series-face { position: absolute; width: 28px; height: 28px; border-radius: 50%; color: #f9f9f9; line-height: 28px; text-align: center; vertical-align: middle; pointer-events: none; backface-visibility: hidden; -webkit-backface-visibility: hidden; }
.series-back { -webkit-transform: rotateY( 180deg ); -ms-transform: rotateY( 180deg ); transform: rotateY( 180deg ); }

.series-coords { float: left; margin-left: 6px; }
.series-coords>div { display: block; width: 100%; margin-top: 4px; }

.explore-toolbar { position: absolute; top: 0; left: 0; width: 100%; height: 30px; margin: 0; padding: 4px 10px 4px 10px; background-color: #f9f9f9; font-size: 1.2em; }
.toolbar-icon { position: relative; height: 21px; width: 21px; cursor: pointer; }
.toolbar-icon:hover { color: #3182bd; }
.toolbar-icon i { font-size: 20px; }
#collapse-icon { position: relative; height: 100%; }
#collapse-icon:before, #collapse-icon:after { content: ""; position: absolute; top: 0; left: 50%; width: 2px; height: 100%; background-color: #666; }
#collapse-icon:before { -webkit-transform: rotate(45deg); }
#collapse-icon:after { -webkit-transform: rotate(-45deg); }
#collapse-icon:hover:before, #collapse-icon:hover:after { background-color: #3182bd; }

#explore-chart { display: block; position: relative; width: 100%; height: 100%; }

.feature-cards { width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto; }
.feature-card { position: relative; background-color: #fff; margin: 10px; padding: 10px; outline: 1px solid #e9e9e9; color: #666; }
.feature-header { font-size: 1.3em; }
.feature-item-name { padding-left: 15px; color: #aaa; }
.feature-item-value { padding-right: 15px; }

.plot-area { position: absolute; top: 0; right: 0; }
.y-axis { position: absolute; top: 0; left: 0; }
.x-axis { position: absolute; bottom: 0; right: 0; }

/* features grid */
.grid-container { position: relative; width: 100%; height: 100%; overflow: hidden; }
.grid-column-container { position: absolute; background: #f9f9f9; top: 0; height: 46px; z-index: 2; }
.grid-column-headers { position: absolute; }
.grid-column-header { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: absolute; height: 36px; line-height: 36px; top: 0; background-color: #e7e7e7; border: 1px solid #d5d5d5; vertical-align: middle; padding-left: 10px; }
.grid-row-container { position: absolute; background: #f9f9f9; left: 0; z-index: 2; }
.grid-row-headers { position: absolute; }
.grid-row-feature-count-header { position: absolute; left: 0; background-color: #f5f5f5; padding: 10px; border: 1px solid #e9e9e9; }
.grid-row-header { position: absolute; left: 0; background-color: #e7e7e7; border: 1px solid #d5d5d5; }
.grid-row-label { height: 36px; line-height: 36px; vertical-align: middle; text-align: right; padding-right: 10px; border-top: 1px solid #d5d5d5; }
.histogram { display: block; width: 100%; height: 100%; }
.grid-content-container { position: relative; width: 100%; height: 100%; overflow: auto; }
.grid-content { position: absolute; }
.grid-content-row { position: relative; display: block; width: 100%; }
.grid-content-column { position: absolute; background: #fff; border: 1px solid #e9e9e9; }
.grid-content-item { height: 36px; line-height: 36px; vertical-align: middle; text-align: right; padding-right: 10px; border-top: 1px solid #e9e9e9; }
.grid-feature-count { width: 100%; height: 148px; line-height: 148px; vertical-align: middle; text-align: center; font-size: 6.0em; }
.grid-feature-count-title { width: 100%; height: 30px; line-height: 30px; vertical-align: middle; text-align: center; font-size: 1.5em; }

/* load data */
#load-data-wrapper { height: 100%; width: 100%; }
#load-data-evaluation { position: absolute; top: -58px; right: 20px; width: 46px; height: 46px; line-height: 38px; text-align: center; border-radius: 50%; border: 4px solid #bbb; background: transparent; color: #bbb; transition: all 0.4s ease; z-index: 1; }
#load-data-evaluation.evaluating { border-color: #2ca02c; background: #2ca02c; color: #fafafa; }
#load-data-evaluation i { text-align: center; vertical-align: middle; }
#load-data-progress { position: absolute; top: -16px; left: 50%; height: 32px; width: 500px; margin-left: -250px; z-index: 10; }
.load-data-container { position: absolute; top: 0; left: 0; height: 100%; width: 100%; }
.load-data-container.ng-leave { -webkit-animation: fadeOut 0.4s; }
.load-data-container.ng-enter { -webkit-animation: fadeIn 0.4s; }
.load-data-menu { position: relative; float: left; height: 100%; background-color: #e7e7e7; border-right: 1px solid #d9d9d9; overflow-x: hidden; overflow-y: scroll; }
.load-data-overlay { position: absolute; width: 100%; height: 100%; background-color: #fff; opacity: 0.6; z-index: 3; }
.load-data-content { position: relative; float: left; height: 100%; }
.select-data-menu { padding: 0; }
.select-data-menu li { list-style: none; border-left: 5px solid #e7e7e7; }
.select-data-menu a { display: block; width: 100%; color: #888; padding: 8px; text-decoration: none; cursor: pointer; white-space: nowrap; }
.select-data-menu li:hover { border-left: 5px solid #2986b8; }
.select-data-menu a:hover { color: #333; }
.select-data-menu li.active { background-color: #fafafa; color: #333; border-left: 5px solid #2986b8; }
.select-data-menu .control-container { height: 0; overflow: hidden; padding-right: 10px; }
.load-data-source-container { padding: 20px; width: 100%; height: 100%; }
.load-data-navbar { height: 40px; width: 100%; line-height: 40px; }
.load-data-navbar span { font-size: 1.1em; vertical-align: middle; }
.load-data-navbar button { margin: 3px 0 3px 0; }
.load-data-source-canvas { position: relative; background-color: #f3f3f3; border: 1px solid #d9d9d9; margin-top: 10px; width: 100%; height: -webkit-calc(100% - 50px); }
.load-data-query-container { position: relative; margin-top: 10px; width: 100%; height: -webkit-calc(100% - 50px);  }
.load-data-query { float: left; width: 35%; height: 100%; border: 1px solid #d9d9d9; background-color: #f9f9f9; }
.load-data-query-controls { width: 100%; height: -webkit-calc(100% - 42px); padding: 10px; }
.load-data-query-buttons { width: 100%; height: 42px; padding-right: 10px; }
.load-data-query-result { float: left; margin-left: 10px; width: -webkit-calc(65% - 10px); height: 100%; border: 1px solid #d9d9d9; background-color: #f3f3f3; }
.load-data-source { display: inline-block; background-color: #fff; border: 1px solid #e9e9e9; padding: 5px; margin: 5px 0 0 5px; }
.load-data-source-progress { position: relative; width: 50px; height: 50px; }
.load-data-source-title { padding: 8px 10px 0 5px; }
.load-data-source-label { color: #999; font-size: 0.8em; }
.load-data-source-close { padding: 0 3px; }
.load-data-source-close a { color: #666; cursor: pointer; }
.load-data-source-close a:hover { color: #d62728; }
.load-data-menu-controls { position: relative; width: 100%; padding: 1px 0 1px 15px; }
.checkbox label, .radio label { white-space: nowrap; }
.form-group>label { color: #666; font-weight: normal; }
.form-group label+.radio { margin-top: 0; }
.load-data-tab { position: relative; width: 100%; height: -webkit-calc(100% - 40px); background-color: #f9f9f9; }
.load-data-tabs { display: block; position: relative; width: 100%; height: 40px; background-color: #f5f5f5; padding-right: 20px; border-top: 1px solid #d9d9d9; }
.load-data-tabs li { list-style: none; display: inline-block; float: right; border: 1px solid #d9d9d9; border-top: 0; margin-left: 2px; transform: translateY(-1px); white-space: nowrap; cursor: pointer; }
.load-data-tabs li a { display: inline-block; width: 100px; height: 30px; text-align: center; color: #333; background-color: #f5f5f5; text-decoration: none; padding-top: 4px; border-bottom: 2px solid #e7e7e7; }
.load-data-tabs li a i { margin-right: 8px; }
.load-data-tabs li.active, .load-data-tabs li:hover, .load-data-tabs li:hover a { border-bottom-color: #3182bd; }
.load-data-tabs li.active a { background-color: #fff; border-bottom-color: #3182bd; }
#load-data-toaster { position: absolute; bottom: 0; left: 0; width: 100%; pointer-events: none; z-index: 1; }
#transformations-menu { position: relative; float: left; height: 100%; background-color: #fafafa; border-right: 1px solid #d9d9d9; overflow: hidden; }
#transformation-input { position: absolute; width: 100%; height: -webkit-calc(100% - 40px); background-color: #eee; overflow-x: hidden; overflow-y: scroll; transition: top 0.4s ease; }
#transformation-controls { position: relative; width: 100%; padding: 10px; }
#transformations { position: relative; width: 100%; height: -webkit-calc(100% - 40px); overflow-x: hidden; overflow-y: scroll; }
#transformations ul { margin: 20px; padding: 0; }
#transformations li { list-style: none; display: block; position: relative; width: 100%; padding: 10px 10px 10px 0; background-color: #fff; border: 1px solid #e9e9e9; clear: both; }
.transformation-type, .transformation-source { float: left; min-height: 100%; height: auto; }
.transformation-type { width: 25px; text-align: center; }
.transformation-source { padding-left: 5px; }

.file-input-container { display: inline-block; width: -webkit-calc(100% - 50px); height: 34px; background-color: #fff; border-radius: 4px 0 0 4px; border-left: 1px solid #d9d9d9; border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; }
.file-input-container.dragging-file { color: #666; background-color: #98df8a; }
.file-input-progress { position: relative; width: 30px; height: 30px; margin: 2px 10px 2px 4px; }
.file-input-label { position: relative; height: 34px; line-height: 34px; vertical-align: middle; color: #aaa; font-size: 1.0em; }
.file-input-label.configured { color: #666; }
.file-input-search { display: inline-block; width: 50px; height: 34px; line-height: 34px; text-align: center; vertical-align: middle; background-color: #f5f5f5; color: #333; border-radius: 0 4px 4px 0; border: 1px solid #d9d9d9; cursor: pointer; }
.file-input-search:hover { background-color: #aec7e8; color: #1f77b4; }
.file-input-clear { display: inline-block; height: 32px; line-height: 32px; margin-right: 10px; vertical-align: middle; color: #aaa; cursor: pointer; }
.file-input-clear:hover { color: #d62728; }

/* progress circle */
.progress-circle { width: 100%; height: 100%; }
.progress-circle path { fill: transparent; stroke-width: 5px; }
.progress-txt { fill: #686868; font-size: 0.8em; }

/* progress tracker */
.progress-tracker { display: block; position: relative; width: 100%; height: 100%; margin: 0; padding: 0; }
.progress-tracker li { list-style: none; display: block; position: relative; float: left; }
.progress-tracker .bubble { display: inline-block; border-radius: 50%; background-color: #bbb; color: #fafafa; text-align: center; transition: background-color 0.4s ease; }
.progress-tracker .bubble-path { display: block; position: absolute; height: 6px; background: linear-gradient(to right, #2ca02c 50%, #bbb 50%); background-size: 200% 100%; background-position:right bottom; transition: all 0.4s ease; }
.progress-tracker .bubble.right { transition-delay: 0.4s; }
.progress-tracker .bubble.active { background-color: #2ca02c; }
.progress-tracker .bubble-path.left { transition-delay: 0.4s; }
.progress-tracker .bubble-path.active { background-position:left bottom; }

.editor, .editor textarea { width: 100%; height: 100%; }

/* generic modal content */
#modal-content-container { width: 100%; height: 100%; }
#modal-toaster { position: absolute; bottom: 0; left: 0; width: 100%; pointer-events: none; z-index: 1; }
.modal-main-content-container { position: relative; float: left; height: 100%; }
.modal-main-content { padding: 20px; width: 100%; height: 100%; }
.modal-grid-row { margin-bottom: 15px; }
.modal-grid-label { height: 34px; line-height: 34px; vertical-align: middle; text-align: right; }

/* set output */
.set-output-menu-container { position: relative; float: left; height: 100%; background-color: #e7e7e7; border-right: 1px solid #d9d9d9; overflow-x: hidden; overflow-y: scroll; }
.set-output-menu { padding: 0; }
.set-output-menu li { list-style: none; display: block; border-bottom: 1px solid #d9d9d9; }
.set-output-menu a { display: block; float: left; padding-left: 10px; width: -webkit-calc(100% - 40px); height: 40px; line-height: 40px; color: #888; text-decoration: none; cursor: pointer; white-space: nowrap; vertical-align: middle; }
.set-output-menu a:hover, .set-output-menu li.active a { color: #333; }
.set-output-menu li.active { background-color: #fff; }
.set-output-state-window { position: relative; float: left; width: 40px; height: 40px; background-color: #000; overflow: hidden; }
.set-output-states { position: absolute; width: 120px; top: 0; transition: left 0.4s ease; }
.set-output-state { float: left; width: 40px; height: 40px; line-height: 40px; color: #fff; text-align: center; vertical-align: middle; }
.output-disabled { background-color: #9f9f9f; }
.output-editing { background-color: #3182bd; }
.output-enabled { background-color: #31a354; }
.set-output-header { height: 40px; width: 100%; line-height: 40px; margin-bottom: 15px; }
.set-output-header span { font-size: 1.2em; vertical-align: middle; }
.set-output-header button { margin: 3px 0 3px 0; }
.set-output-buttons.ng-enter { -webkit-animation: fadeIn 0.4s; }
.set-output-buttons .btn+.btn { margin-left: 10px; }
.set-output-enable { width: 150px; }

/* toggle slider */
.toggle-slider-container { position: relative; height: 34px; background-color: #f3f3f3; border-radius: 6px; border: 1px solid #ccc; overflow: hidden; cursor: pointer; }
.toggle-slider-container.disabled { cursor: not-allowed; }
.toggle-slider { position: absolute; height: 100%; width: 50%; left: 50%; background-color: #9f9f9f; z-index: 1; transition: all 0.2s ease; }
.toggle-slider.on { left: 0; background-color: #31a354; }
.toggle-slider-fields { position: absolute; height: 100%; width: 100%; z-index: 2; }
.toggle-slider-field { position: relative; float: left; width: 50%; height: 34px; line-height: 34px; text-align: center; vertical-align: middle; transition: all 0.2s ease; color: #bbb; }
.toggle-slider-field.on { color: #fff; }

/* resizable controls */
.resizable-handle { position: absolute; font-size: 0.1px; z-index: 1; }
.resizable-e { cursor: ew-resize; width: 7px; height: 100%; top: 0; right:-5px; }
.resizable-w { cursor: ew-resize; width: 7px; height: 100%; top: 0; left:-5px; }
.resizable-s { cursor: ns-resize; width: 100%; height: 7px; left: 0; bottom:-5px; }
.resizable-n { cursor: ns-resize; width: 100%; height: 7px; left: 0; top:-5px; }
.resizable-se { cursor: se-resize; width: 16px; height: 16px; right: 0; bottom: 0; }
.resizable-sw { cursor: sw-resize; width: 16px; height: 16px; left: 0; bottom: 0; }

.emr-popup-backdrop { position: absolute; width: 100%; height: 100%; background-color: #32404e; opacity: 0.6; z-index: 10; transition: opacity 0.4s ease; }
.emr-popup-backdrop.ng-enter, .emr-popup-backdrop.ng-leave.ng-leave-active { opacity: 0; }
.emr-popup-backdrop.ng-enter.ng-enter-active, .emr-popup-backdrop.ng-leave { opacity: 0.6; }

.emr-popup-backdrop-nav { position: absolute; top: 50px; left: 0px; width: 100%; height: -webkit-calc(100% - 50px); background-color: #32404e; opacity: 0.6; z-index: 10; transition: opacity 0.4s ease; }
.emr-popup-backdrop-nav.ng-enter, .emr-popup-backdrop-nav.ng-leave.ng-leave-active { opacity: 0; }
.emr-popup-backdrop-nav.ng-enter.ng-enter-active, .emr-popup-backdrop-nav.ng-leave { opacity: 0.6; }

.create-diagram-wrapper { position: absolute; width: 500px; height: 400px; top: 70px; left: 50%; margin-left: -250px; border-radius: 15px; box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175); background-color: #fff; z-index: 11; }
.create-diagram-wrapper.ng-enter { -webkit-animation: fadeIn 0.4s; }
.create-diagram-wrapper.ng-leave { -webkit-animation: fadeOut 0.4s; }
.create-diagram-wrapper form { position: relative; width: 100%; height: 100%; }
#create-diagram-name { font-size: 1.6em; }

/* Toast */
#toast-container { position: absolute; top: 50px; left: 0; width: 100%; pointer-events: none; z-index: 1; }
.toast { position: relative; margin: 2px auto 0 auto; width: 350px; border-radius: 2px; color: #fff; padding: 10px; opacity: 0.6; pointer-events: auto; transition: opacity 0.4s ease; }
.toast.ng-enter, .toast.ng-leave.ng-leave-active { opacity: 0; }
.toast.ng-enter.ng-enter-active, .toast.ng-leave { opacity: 0.6; }
.toast:hover { opacity: 1.0; }
.toast>div { display: inline-block; vertical-align: top; }
.toast-icon { margin-right: 5px; }
.toast-message { width: calc(100% - 50px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  }
.toast-close { display: inline-block; color: #fff; float: right; cursor: pointer; }
.toast-error { background-color: #bd362f; }
.toast-info { background-color: #2f96b4; }
.toast-success { background-color: #51a351; }
.toast-warning { background-color: #f89406; }

/* Selector */
.multi-selector { float: none !important; width: 100%; padding: 0; background-color: #fff; }
.multi-selector.disabled { background-color: red; }
.multi-selector ul { width: 100%; padding: 6px; margin: 0; }
.multi-selector li { display: inline-block; list-style: none; }
.multi-selector li a { margin-left: 3px; color: #666; cursor: pointer; }
.multi-selector li a:hover { color: #2f96b4; }
.selector-tag { margin: 1px 0 1px 3px; background-color: #f9f9f9; padding: 3px; border: 1px solid #ccc; border-radius: 4px; }
.multi-selector input { margin-right: 8px; border: 0; }
.multi-selector input:focus { outline: 0; }
.multi-selector-list { position: absolute; left: 0; width: 100%; background-color: #fff; border: 1px solid #ccc; }
.multi-selector-list ul { margin: 0; padding: 10px; }
.multi-selector-list li { display: block; list-style: none; margin: 0; padding: 1px 0 1px 2px; border: 0; width: 100%; }
.selector-header { font-weight: bold; }
.selector-header a+a { margin-left: 5px; }
.selector-option { cursor: pointer; }
.selector-option:hover { color: #fff; background-color: #3879d9; }

.date-time-picker-row { width: 100%; }
.date-time-picker-row input { display: inline !important; margin: 0; padding: 6px !important; }
.date-time-picker-row input[type=date] { width: -webkit-calc(100% - 84px); }
.date-time-picker-row input[type=text] { width: 34px; text-align: center; }
.date-time-header { display: inline-block; width: -webkit-calc(100% - 84px); padding-bottom: 5px; color: #666; }
.date-footer { display: inline-block; width: -webkit-calc(100% - 84px); }
.time-header { display: inline-block; width: 34px; text-align: center; }
.time-spacer { display: inline-block; width: 4px; text-align: center; }
.date-time-picker-row a { text-decoration: none; cursor: pointer; color: #aaa; }
.date-time-picker-row a:hover { color: #666; }

/* picture in picture */
.pip-mask { position: absolute; left: 20px; bottom: 20px; width: 15%; height: 15%; z-index: 3; }
.pip-mask.ready { cursor: pointer; }
.pip-page { position: absolute; left: 0; bottom: 0; width: 100%; height: 100%; z-index: 1; transform-origin: left bottom; transition: transform 0.4s ease; }
.pip-page.ng-enter { -webkit-animation: fadeIn 0.4s; }
.pip-page.ng-leave { -webkit-animation: fadeOut 0.4s; }
.pip-page.minimized { overflow: hidden; border: 1px solid #333; box-shadow: 0 30px 60px rgba(0,0,0,0.175); transition: none; transform: translate( 20px, -20px) scale(0.15); }
.pip-page.top { z-index: 2; }

#online-view { padding: 20px 0 20px 0; background-color: #fff; }
.online-view-menu { position: relative; float: left; width: 15%; height: 100%; margin: 0 20px 0 20px; }
.online-chart-container { position: relative; float: left; padding: 10px; width: -webkit-calc(85% - 40px); height: 100%; }
.online-chart { display: block; position: relative; width: 100%; height: 100%; }

.trend-line { fill: none; stroke: #2ca02c; stroke-width: 2px; }
.axis path, .axis line {  fill: none; stroke: #000; }
.x.axis text { display: none; }
.tick line{ opacity: 0.2; }

