@(title: String)

@styles = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/diagram.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("scripts/components/browser/browser.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("scripts/components/blockDataViewer/blockDataViewer.css")">
}

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("scripts/shared/draggable.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/components/browser/browser.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/components/charts/charts.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/components/grids/grids.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/components/diagram/diagramViewModel.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/components/diagram/diagram.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/components/files/fileDrop.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/components/shared/shared.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/components/popup/popupService.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/components/modal/modal.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/components/panel/panel.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/components/diagram/diagramController.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/components/blockDataViewer/blockDataViewer.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/app.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/services/colorService.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/services/diagramService.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/views/analyticControllers.js")"></script>
}

@main(title)(styles)(scripts){
    <body ng-app="analyticsApp" draggable ng-controller="analyticsController">

        <div id="main-tabs">

            <ul class="vertical-tabs">
                <li class="vertical-tab ng-class:{active: (activeView==0)}" ng-click="setActiveView(0)">
                    <div class="tab-icon"><i class="fa fa-sitemap fa-2x"></i></div>
                    <div class="tab-text">Studio</div>
                </li>
                <li class="vertical-tab ng-class:{active: (activeView==1)}" ng-click="setActiveView(1)">
                    <div class="tab-icon">
                        <i class="fa fa-tachometer fa-2x"></i>
                    </div>
                    <div class="tab-text">Dashboard</div>
                    <div ng-if="!serviceAvailable" class="fa-stack tab-badge tab-badge-warning" ng-cloak>
                        <i class="fa fa-circle fa-stack-1x"></i>
                        <i class="fa fa-exclamation-circle fa-stack-1x"></i>
                    </div>
                </li>
            </ul>

        </div>

        <div id="main-content">

            <div class="alert-container" ng-repeat="alert in alerts" ng-switch on="alert.type" ng-cloak>

                <div ng-switch-when="serviceUnavailable" class="alert alert-danger">
                    <i class="alert-icon fa fa-exclamation-triangle pull-left"></i>
                    <span class="alert-text">{{alert.message}}</span>
                </div>

            </div>

            <ng-view></ng-view>

        </div>

    </body>
}