@(title: String)(styles: Html)(scripts: Html)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <base href="/">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/font-awesome/css/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/site.css")">
        @styles
    </head>
    <body>
        @content
    </body>
    <script type="text/javascript" src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("lib/angularjs/angular.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("lib/angularjs/angular-route.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("lib/angularjs/angular-sanitize.min.js")"></script>
    @scripts
</html>
