{{=<% %>=}}

from __future__ import print_function

from pyspark import SparkContext

<%#packages%>
import <%.%>
<%/packages%>

<%#blocks%>
<%variableName%> = <%objectName%><%& operations%>
<%/blocks%>
