{{=<% %>=}}

from __future__ import print_function

from pyspark import SparkContext

<%#packages%>
import <%.%>
<%/packages%>

<%#blocks%>
interpreter.onNotify("<%blockName%>", "2")
<%variableName%> = <%objectName%><%& operations%>
interpreter.onNotify("<%blockName%>", "3")
<%/blocks%>

interpreter.onNotify("COMPLETED", "true")