{{=<% %>=}}

<%#packages%>
import <%.%>
<%/packages%>
import time

diagramName = ssc.sparkContext.appName

# kafka producer used to report results
from kafka import KeyedProducer, KafkaClient
broker = "localhost:9092"
resultTopic = "ONLINE"
kafka = KafkaClient(broker)
producer = KeyedProducer(kafka)

def post(rdd):
    results = rdd.collect()
    for result in results:
        for item in result:
            producer.send_messages(resultTopic, diagramName.encode("UTF-8"), str(item).encode("UTF-8"))

<%#models%>
<%variableName%> = [<%arguments%>]
<%/models%>

<%#blocks%>
<%variableName%> = <%objectName%><%& operations%>
<%/blocks%>

<%terminatingVariable%>.foreachRDD(lambda rdd: post(rdd))

ssc.start()
ssc.awaitTermination()

