
<svg xmlns="http://www.w3.org/2000/svg"
        ng-mousedown="mouseDown($event)"
        ng-mousemove="mouseMove($event)">

    <g class="block"
            ng-repeat="block in diagram.blocks"
            ng-mousedown="blockMouseDown($event, block)"
            ng-attr-transform="translate({{block.x()}}, {{block.y()}})">

        <rect ng-attr-class="{{block.selected() && 'block-selected' || (block == mouseOverNode && 'block-mouseover' || 'block-rect')}}"
              ry="6"
              rx="6"
              x="0"
              y="0"
              ng-attr-width="{{block.width()}}"
              ng-attr-height="{{block.height()}}">

        </rect>

        <!--block header-->
        <rect ng-attr-class="block-header {{block.stateClass()}}"
              ry="6"
              rx="6"
              x="4"
              y="4"
              ng-attr-width="{{block.width() - 8}}"
              ng-attr-height="{{(block.height() / 2) - 4}}">

        </rect>

        <!--block name-->
        <text ng-attr-x="{{block.width()/2}}"
              y="25"
              class="block-name"
              text-anchor="middle"
              alignment-baseline="middle">

            {{block.name()}}

        </text>

        <!--block definition-->
        <text ng-attr-x="{{block.width()/2}}"
              ng-attr-y="{{block.height() - 18}}"
              class="block-definition"
              text-anchor="middle"
              alignment-baseline="middle">

            {{block.definition()}}

        </text>

        <!--settings icon-->
        <text x="6"
              ng-attr-y="{{block.height() - 8}}"
              class="block-icon fa-2x"
              text-anchor="start"
              alignment-baseline="bottom">&#xf013</text>

        <!--charting icon-->
        <text ng-attr-x="{{block.width() - 6}}"
              ng-attr-y="{{block.height() - 8}}"
              class="block-icon fa-2x"
              text-anchor="end"
              alignment-baseline="bottom">&#xf080</text>

        <g class="connector"
                ng-repeat="connector in block.inputConnectors">
                <!--ng-mousedown="connectorMouseDown($event, block, connector, $index, true)"-->

            <!--<text ng-attr-x="{{connector.x() + 20}}"
                    ng-attr-y="{{connector.y()}}"
                    text-anchor="left"
                    alignment-baseline="middle"
                    >
                {{connector.name()}}
            </text>-->

            <circle
                    ng-attr-class="{{connector == mouseOverConnector && 'mouseover-connector' || 'connector-circle'}} {{block.stateClass()}}"
                    ng-attr-r="{{connectorRadius}}"
                    ng-attr-cx="{{connector.x()}}"
                    ng-attr-cy="{{connector.y()}}"
                    />

        </g>

        <g class="connector"
                ng-repeat="connector in block.outputConnectors">
                <!--ng-mousedown="connectorMouseDown($event, block, connector, $index, false)"-->

            <!--<text
                    ng-attr-x="{{connector.x() - 20}}"
                    ng-attr-y="{{connector.y()}}"
                    text-anchor="end"
                    alignment-baseline="middle"
                    >
                {{connector.name()}}
            </text>-->

            <circle
                    ng-attr-class="{{connector == mouseOverConnector && 'mouseover-connector' || 'connector-circle'}} {{block.stateClass()}}"
                    ng-attr-r="{{connectorRadius}}"
                    ng-attr-cx="{{connector.x()}}"
                    ng-attr-cy="{{connector.y()}}"
                    />
        </g>
    </g>

    <g>
        <g class="wire"
                ng-repeat="wire in diagram.wires">
                <!--ng-mousedown="wireMouseDown($event, wire)"-->
            <path
                    ng-attr-class="{{connection.selected() && 'selected-wire' || (wire == mouseOverWire && 'mouseover-wire' || 'wire-line')}}"
                    ng-attr-d="M {{wire.sourceCoordX()}}, {{wire.sourceCoordY()}}
                     C {{wire.sourceTangentX()}}, {{wire.sourceTangentY()}}
                       {{wire.targetTangentX()}}, {{wire.targetTangentY()}}
                       {{wire.targetCoordX()}}, {{wire.targetCoordY()}}">
            </path>
            <circle ng-attr-class="{{wire.selected() && 'selected-wire-endpoint' || (wire == mouseOverWire && 'mouseover-wire-endpoint' || 'wire-endpoint')}}"
                    r="4"
                    ng-attr-cx="{{wire.sourceCoordX()}}"
                    ng-attr-cy="{{wire.sourceCoordY()}}">
            </circle>

            <circle ng-attr-class="{{wire.selected() && 'selected-wire-endpoint' || (wire == mouseOverWire && 'mouseover-wire-endpoint' || 'wire-endpoint')}}"
                    r="4"
                    ng-attr-cx="{{wire.targetCoordX()}}"
                    ng-attr-cy="{{wire.targetCoordY()}}">
            </circle>
        </g>
    </g>

    <!--<g
            ng-if="draggingWire"
            >
        <path
                class="dragging-wire dragging-wire-line"
                ng-attr-d="M {{dragPoint1.x}}, {{dragPoint1.y}}
                 C {{dragTangent1.x}}, {{dragTangent1.y}}
                   {{dragTangent2.x}}, {{dragTangent2.y}}
                   {{dragPoint2.x}}, {{dragPoint2.y}}"
                >
        </path>

        <circle
                class="dragging-wire dragging-wire-endpoint"
                r="4"
                ng-attr-cx="{{dragPoint1.x}}"
                ng-attr-cy="{{dragPoint1.y}}"
                >
        </circle>

        <circle
                class="dragging-wire dragging-wire-endpoint"
                r="4"
                ng-attr-cx="{{dragPoint2.x}}"
                ng-attr-cy="{{dragPoint2.y}}"
                >
        </circle>
    </g>

    <rect
            ng-if="dragSelecting"
            class="drag-selection-rect"
            ng-attr-x="{{dragSelectionRect.x}}"
            ng-attr-y="{{dragSelectionRect.y}}"
            ng-attr-width="{{dragSelectionRect.width}}"
            ng-attr-height="{{dragSelectionRect.height}}"
            >
    </rect>-->

</svg>
