<div class="grid-container">

    <div class="grid-column-container" ng-style="{ left: columnHeaderPosition, width: gridWidth }">
        <div class="grid-column-headers" ng-style="{ left: originX, top: padding }">
            <div class="grid-column-header" ng-repeat="feature in features" ng-style="{ width: columnWidth, left: $index * (columnWidth + padding) }">
                {{feature.name}}
            </div>
        </div>
    </div>

    <div class="grid-row-container" ng-style="{ top: rowHeaderPosition, width: (rowHeaderWidth + padding), height: gridHeight }">

        <div class="grid-row-headers" ng-style="{ left: padding, top: originY }">

            <div class="grid-row-header" ng-style="{ width: rowHeaderWidth, top: padding }">

                <div>Data Type</div>
                <div>Observations</div>
                <div>Mean</div>
                <div>Standard Deviation</div>
                <div>Minimum</div>
                <div>Maximum</div>

            </div>

        </div>

    </div>

    <div id="grid-content-container">

        <div class="grid-content" ng-style="{ left: rowHeaderWidth + 2 * padding, top: rowHeight + 2 * padding, width: gridWidth, height: gridHeight }">

            <div class="grid-content-row" ng-style="{ height: 10 * rowHeight + padding }">

                <div class="grid-content-column" ng-repeat="feature in features" ng-style="{ width: columnWidth, left: $index * (columnWidth + padding) }">

                    <div>{{feature.type}}</div>
                    <div>{{feature.count}}</div>
                    <div>{{feature.avg}}</div>
                    <div>{{feature.stdev}}</div>
                    <div>{{feature.min}}</div>
                    <div>{{feature.max}}</div>

                </div>

            </div>

        </div>

    </div>

</div>