<div class="grid-container">

    <div class="grid-column-container" ng-style="{ left: columnHeaderPosition, width: gridWidth }">
        <div class="grid-column-headers" ng-style="{ left: originX, top: padding }">
            <div class="grid-column-header" ng-repeat="feature in features" ng-style="{ width: columnWidth, left: $index * (columnWidth + padding) }">
                {{feature.name}}
            </div>
        </div>
    </div>

    <div class="grid-row-container" ng-style="{ top: rowHeaderPosition, width: (rowHeaderWidth + padding), height: gridHeight }">

        <div class="grid-row-headers" ng-style="{ left: padding, top: originY }">

            <div class="grid-row-header" ng-style="{ width: rowHeaderWidth, top: padding }">

                <div ng-style="{ width: columnWidth, height: histogramHeight }"></div>
                <div class="grid-row-label">Data Type</div>
                <div class="grid-row-label">Observations</div>
                <div class="grid-row-label">Mean</div>
                <div class="grid-row-label">Standard Deviation</div>
                <div class="grid-row-label">Minimum</div>
                <div class="grid-row-label">Maximum</div>

            </div>

        </div>

    </div>

    <div class="grid-content-container">

        <div class="grid-content" ng-style="{ left: rowHeaderWidth + 2 * padding, top: rowHeight + 2 * padding, width: gridWidth, height: gridHeight }">

            <div class="grid-content-row" ng-style="{ height: 10 * rowHeight + padding }">

                <div class="grid-content-column" ng-repeat="feature in features" ng-style="{ width: columnWidth, left: $index * (columnWidth + padding) }">

                    <div ng-style="{ width: columnWidth, height: histogramHeight }">
                        <bar-chart class="histogram" values="feature.histogram"></bar-chart>
                    </div>

                    <div class="grid-content-item">{{feature.type}}</div>
                    <div class="grid-content-item">{{feature.count}}</div>
                    <div class="grid-content-item">{{feature.avg}}</div>
                    <div class="grid-content-item">{{feature.stdev}}</div>
                    <div class="grid-content-item">{{feature.min}}</div>
                    <div class="grid-content-item">{{feature.max}}</div>

                </div>

            </div>

        </div>

    </div>

</div>