<div class="grid-container">

    <div class="grid-column-container" ng-style="{ left: columnHeaderPosition, width: gridWidth }">
        <div class="grid-column-headers" ng-style="{ left: originX, top: padding }">
            <div class="grid-column-header" ng-repeat="feature in gridFeatures" ng-style="{ width: columnWidth, left: $index * (columnWidth + padding) }">
                {{feature.column}}
            </div>
        </div>
    </div>

    <div class="grid-row-container" ng-style="{ top: rowHeaderPosition, width: (rowHeaderWidth + padding), height: gridHeight }">

        <div class="grid-row-headers" ng-style="{ left: padding, top: originY }">

            <div class="grid-row-feature-count-header" ng-style="{ width: rowHeaderWidth, height: 200 }">

                <div class="grid-feature-count">{{gridFeatures.length}}</div>
                <div class="grid-feature-count-title">Features</div>

            </div>

            <div class="grid-row-header" ng-style="{ width: rowHeaderWidth, top: 200 + padding }">

                <div>Observation Count</div>
                <div>Mean</div>
                <div>Standard Deviation</div>
                <div>Minimum Value</div>
                <div>25% of values less than</div>
                <div>50% of values less than</div>
                <div>75% of values less than</div>
                <div>Maximum Value</div>
                <div>NaN Observation Count</div>
                <div>Data Type</div>

            </div>

            <div class="grid-row-header" ng-style="{ width: rowHeaderWidth, top: 200 + padding + 10 * rowHeight + padding }">

                <div ng-repeat="index in indexes">{{index}}</div>

            </div>

        </div>

    </div>

    <div id="grid-content-container">

        <div class="grid-content" ng-style="{ left: rowHeaderWidth + 2 * padding, top: rowHeight + 2 * padding, width: gridWidth, height: gridHeight }">

            <div class="grid-content-row" ng-style="{ height: 200 + padding }">

                <!--<div class="hist-container" ng-repeat="feature in data" ng-style="{ width: columnWidth, left: $index * (columnWidth + padding) }">-->

                    <!--<statistics-histogram values="feature"></statistics-histogram>-->

                <!--</div>-->

                <div class="hist-container" ng-repeat="feature in gridFeatures" ng-style="{ width: columnWidth, left: $index * (columnWidth + padding) }">

                    <statistics-bar-chart values="feature"></statistics-bar-chart>

                </div>

            </div>


            <div class="grid-content-row" ng-style="{ height: 10 * rowHeight + padding }">

                <div class="grid-content-column" ng-repeat="feature in gridFeatures" ng-style="{ width: columnWidth, left: $index * (columnWidth + padding) }">

                    <div>{{feature.statistics.count}}</div>
                    <div>{{feature.statistics.mean}}</div>
                    <div>{{feature.statistics.std}}</div>
                    <div>{{feature.statistics.min}}</div>
                    <div>{{feature.statistics.twentyFive}}</div>
                    <div>{{feature.statistics.fifty}}</div>
                    <div>{{feature.statistics.seventyFive}}</div>
                    <div>{{feature.statistics.max}}</div>
                    <div>{{feature.statistics.missing}}</div>
                    <div>{{feature.statistics.dtype}}</div>

                </div>

            </div>

            <div class="grid-content-row">

                <div class="grid-content-column" ng-repeat="feature in data" ng-style="{ width: columnWidth, left: $index * (columnWidth + padding) }">

                    <div ng-repeat="item in feature track by $index">{{item}}</div>

                </div>

            </div>

        </div>

    </div>

</div>