.grid-container {
    width: 100%;
    height: auto;
    padding: 25px;
}

.time-series-grid-container {
    width: 100%;
    height: 100%;
}

.time-series-grid-header {
    width: 1000px;
    height: 45px;
    background: lightgrey;
}

.time-series-grid-row {
    width: auto;
    height: 40px;
    border-bottom: 1px solid lightgrey;
}

.header {
    border-bottom: 2px solid grey;
}

.time-series-grid-value {
    margin: 5px;
    height: 30px;
    width: 170px;
    float: left;
    text-align: right;
}

.time-series-grid-value:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.time-series-grid-value:hover { cursor: default; }
