{{=<% %>=}}

import org.apache.spark.streaming._
import scala.util.parsing.json._

<%#packageNames%>
import <%.%>
<%/packageNames%>

<%#models%>
val <%variableName%> = Array(<%arguments%>)
<%/models%>

val appName = ssc.sparkContext.appName

<%#streamingOperations%>
val <%variableName%> = <%className%>.<%methodName%>(<%& arguments%>)

<%/streamingOperations%>

<%#hasRddOperations%>

<%streamingVariable%>.foreachRDD(<%rddVariable%> => {

<%#rddOperations%>
val <%variableName%> = <%className%>.<%methodName%>(<%& arguments%>)

<%/rddOperations%>

})

<%/hasRddOperations%>

ssc.start()
ssc.awaitTermination()