{{=<% %>=}}

import org.apache.spark.streaming._
import scala.util.parsing.json._

<%#packageNames%>
import <%.%>
<%/packageNames%>

<%#models%>
val <%variableName%> = Array(<%arguments%>)
<%/models%>

val appName = ssc.sparkContext.appName

<%#blocks%>
val <%variableName%> = <%className%>.<%methodName%>(<%& arguments%>)
<%/blocks%>

ssc.start()
ssc.awaitTermination()