
<div class="block-config-container">

    <form class="block-name-form" name="blockNameForm">
        <div class="block-parameter">
            <label>Block Name</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-file-text-o"></i>
                </span>
                <input class="form-control" type="text" name="blockName" ng-model="block.name" ng-required="true" ng-minlength="3" ng-maxlength="15" pattern="[a-zA-Z0-9_ ]+" />
            </div>
            <div class="fade error_container" ng-show="blockNameForm.blockName.$dirty && blockNameForm.blockName.$invalid">
                <small class="fade error error_message" ng-show="blockNameForm.blockName.$error.required">required</small>
                <small class="fade error error_message" ng-show="blockNameForm.blockName.$error.minlength">min</small>
                <small class="fade error error_message" ng-show="blockNameForm.blockName.$error.maxlength">max</small>
                <small class="fade error error_message" ng-show="blockNameForm.blockName.$error.pattern">pattern</small>
            </div>
        </div>
    </form>

    <div class="block-parameter"
         ng-repeat="parameter in block.parameters">
        <label>{{parameter.name()}}</label>

        <div class="input-group" ng-switch on="parameter.type()">

            <span class="input-group-addon">
                <i ng-attr-class="fa {{parameter.loading && 'fa-spinner fa-spin' || parameter.type()=='list' && 'fa-list-ul' || parameter.type()=='multiSelectList' && 'fa-list-alt' || parameter.type()=='query' && 'fa-pencil-square-o' || parameter.type()=='int' && 'fa-list-ol' || 'fa-file-text-o'}}"></i>
            </span>

            <select ng-switch-when="list"
                    class="form-control"
                    ng-model="parameter.value"
                    ng-disabled="!parameter.loaded"
                    ng-change="setValue(parameter);">

                <option ng-repeat="option in parameter.fieldOptions" ng-selected="{{option==parameter.value}}" value="{{option}}">
                    {{option}}
                </option>

            </select>

            <select ng-switch-when="multiSelectList"
                    class="form-control"
                    multiple="multiple"
                    ng-model="parameter.value"
                    ng-disabled="!parameter.loaded"
                    ng-change="setValue(parameter);">

                <option ng-repeat="option in parameter.fieldOptions" ng-selected="option.selected">{{option.itemName}}</option>

            </select>

            <input ng-switch-when="int" class="form-control" type="number" ng-model="parameter.value" ng-change="setValue(parameter);" />

            <textarea ng-switch-when="query" class="form-control" type="text" ng-model="parameter.value" ng-change="setValue(parameter);" />

            <input ng-switch-default class="form-control" type="text" ng-model="parameter.value" ng-change="setValue(parameter);" />

        </div>

    </div>

</div>