
<div class="block-config-container">

    <form class="form-horizontal" role="form">

        <div ng-repeat="parameter in block.parameters">

            <div class="form-group">

                <label class="col-sm-2 control-label">{{parameter.name()}}</label>

                <div class="col-sm-9">

                    <div class="input-group" ng-switch on="parameter.editType()">

                        <span class="input-group-addon">
                            <i ng-attr-class="fa {{parameter.loading && 'fa-spinner fa-spin' || parameter.editType()== 3 && 'fa-list-ul' || parameter.editType()==4 && 'fa-list-alt' || parameter.editType()==2 && 'fa-pencil-square-o' || parameter.editType()==0 && 'fa-list-ol' || 'fa-file-text-o'}}"></i>
                        </span>

                        <select ng-switch-when="3"
                                class="form-control"
                                ng-model="parameter.value"
                                ng-disabled="!parameter.loaded"
                                ng-change="setValue(parameter);">

                            <option ng-repeat="option in parameter.fieldOptions" ng-selected="{{option==parameter.value}}" value="{{option}}">
                                {{option}}
                            </option>

                        </select>

                        <selector class="form-control" ng-switch-when="4" header="parameter.name()" values="parameter.value" options="parameter.fieldOptions"></selector>

                        <input ng-switch-when="0" class="form-control" type="number" ng-model="parameter.value" ng-change="setValue(parameter);" />

                        <textarea ng-switch-when="2" class="form-control" type="text" ng-model="parameter.value" ng-change="setValue(parameter);" />

                        <!--<button type="button" class="btn btn-success editable-query-btn" ng-switch-when="2" class="form-control" ng-click="editQuery($event, parameter)">Edit</button>-->

                        <input ng-switch-default class="form-control" type="text" ng-model="parameter.value" ng-change="setValue(parameter);" />

                    </div>

                </div>

            </div>

        </div>

        <div class="col-sm-offset-2 col-sm-9 block-config-changed">

            <button ng-show="onPropsChanged" type="button" class="btn btn-success btn-sm pull-right" ng-click="onSave()">
                <i class="fa fa-check"></i>
            </button>

            <button ng-show="onPropsChanged" type="button" class="btn btn-default btn-sm pull-right block-config-changed-btn" ng-click="onCancel()">
                <i class="fa fa-times"></i>
            </button>

        </div>

    </form>

</div>