<div class="block-data-view-container">

    <div ng-repeat="result in results" ng-switch on="result.type">

        <div class="row">

            <div class="col-md-2 block-data-view-result-name" >{{result.name}}</div>

            <div class="col-md-8 block-data-view-result-value" ng-switch-when="singleValue">{{result.data}}</div>

            <div class="col-md-8 block-data-view-multi-value-result-container" ng-switch-when="listOfValues">
                <div class="block-data-view-multi-value-result-data">
                    <div ng-repeat="value in result.data" >
                        <div class="row">
                            <div class="col-md-1 block-data-view-multi-result-name">{{$index+1}}</div>
                            <div class="col-md-3 block-data-view-multi-result-value">{{value}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 block-data-view-multi-value-result-container" ng-switch-when="dictOfValues">
                <div class="block-data-view-multi-value-result-data">
                    <div ng-repeat="(key, value) in result.data" >
                        <div class="row">
                            <div class="col-md-4 block-data-view-multi-result-name">{{key}}</div>
                            <div class="col-md-3 block-data-view-multi-result-value">{{value}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>