
<div class="stats-grid-wrapper">
    <div class="stats-grid-column-headers">
        <div class="stats-grid-row stats-grid-row-alt">
            name
        </div>
        <div class="stats-grid-row">
            std
        </div>
        <div class="stats-grid-row stats-grid-row-alt">
            mean
        </div>
        <div class="stats-grid-row">
            min
        </div>
        <div class="stats-grid-row stats-grid-row-alt">
            50%
        </div>
        <div class="stats-grid-row">
            count
        </div>
        <div class="stats-grid-row stats-grid-row-alt">
            max
        </div>
        <div class="stats-grid-row">
            25%
        </div>
        <div class="stats-grid-row stats-grid-row-alt">
            75%
        </div>
    </div>
    <div class="stats-grid-container" ng-style="{ 'width': gridWidth }">
        <div class="stats-grid-column ng-class:{ 'stats-grid-column-first': $index==0 }" ng-repeat="column in data">
            <div class="stats-grid-row stats-grid-row-alt">
                {{column.name}}
            </div>
            <div class="stats-grid-row">
                {{column.std}}
            </div>
            <div class="stats-grid-row stats-grid-row-alt">
                {{column.mean}}
            </div>
            <div class="stats-grid-row">
                {{column.min}}
            </div>
            <div class="stats-grid-row stats-grid-row-alt">
                {{column.fifty}}
            </div>
            <div class="stats-grid-row">
                {{column.count}}
            </div>
            <div class="stats-grid-row stats-grid-row-alt">
                {{column.max}}
            </div>
            <div class="stats-grid-row">
                {{column.twentyFive}}
            </div>
            <div class="stats-grid-row stats-grid-row-alt">
                {{column.seventyFive}}
            </div>
        </div>
    </div>
</div>
