    <div ng-controller="MainCtrl">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" ng-click="createDefinitions()">Create Definitions</button>
            </div>

        </div>
        <p/>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" ng-click="createTestDiagram()">Create Test Diagram</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
    </div>