<div id="charts-container">

    <div id="chart-tabs">

        <ul class="vertical-tabs">
            <li class="vertical-tab ng-class:{ active: (activeIndex==0) }" ng-click="setActiveIndex(0)">
                <div class="tab-icon"><i class="fa fa-table fa-2x"></i></div>
                <div class="tab-text">Data</div>
            </li>
            <li class="vertical-tab ng-class:{ active: (activeIndex==1) }" ng-click="setActiveIndex(1)">
                <div class="tab-icon"><i class="fa fa-bar-chart fa-2x"></i></div>
                <div class="tab-text">Layout</div>
            </li>
        </ul>

    </div>

    <div id="chart-section">

        <div class="chart-menus chart-menus-fade" ng-show="!hideChartMenus">

            <div class="chart-toolbar">
                <div class="toolbar-right">
                    <div class="toolbar-icon">
                        <div id="collapse-icon" ng-click="collapseChartMenusClick()"></div>
                    </div>
                </div>
            </div>

            <div class="chart-menu-container ng-class:{ active: (activeIndex==0) }">
                <div class="chart-menu">
                    <div class="chart-feature ng-class:{'chart-feature-animate': value.showStatistics}" ng-repeat="(key, value) in features">
                        <div class="feature-container">

                            <div class="feature-selector ng-class:{'front-to-back': value.flipToBack,'back-to-front': value.flipToFront}" ng-click="featureSelectClick(value)">
                                <div class="face front" ng-style="{'background-color':value.color}">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="face back" ng-style="{'background-color':value.color}">
                                    <i class="fa fa-close"></i>
                                </div>
                            </div>

                            <div class="feature-name">{{key}}</div>
                            <div class="feature-ellipsis" ng-click="value.showStatistics = !value.showStatistics">
                                <i class="fa fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <div class="feature-stats feature-stats-fade" ng-show="value.showStatistics">
                            <div class="feature-stats-item">
                                <div class="feature-stats-name">Count</div>
                                <div class="feature-stats-value">{{value.count}}</div>
                            </div>
                            <div class="feature-stats-item">
                                <div class="feature-stats-name">Mean</div>
                                <div class="feature-stats-value">{{value.mean}}</div>
                            </div>
                            <div class="feature-stats-item">
                                <div class="feature-stats-name">Std</div>
                                <div class="feature-stats-value">{{value.std}}</div>
                            </div>
                            <div class="feature-stats-item">
                                <div class="feature-stats-name">Min</div>
                                <div class="feature-stats-value">{{value.min}}</div>
                            </div>
                            <div class="feature-stats-item">
                                <div class="feature-stats-name">25%</div>
                                <div class="feature-stats-value">{{value.twentyFive}}</div>
                            </div>
                            <div class="feature-stats-item">
                                <div class="feature-stats-name">50%</div>
                                <div class="feature-stats-value">{{value.fifty}}</div>
                            </div>
                            <div class="feature-stats-item">
                                <div class="feature-stats-name">75%</div>
                                <div class="feature-stats-value">{{value.seventyFive}}</div>
                            </div>
                            <div class="feature-stats-item">
                                <div class="feature-stats-name">Max</div>
                                <div class="feature-stats-value">{{value.max}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chart-menu-container ng-class:{ active: (activeIndex==1) }">

            </div>

        </div>

        <div class="chart-content ng-class:{ expand: hideChartMenus }">
            <div class="chart-toolbar">
                <div class="toolbar-left">
                    <div class="toolbar-icon" ng-click="render()">
                        <i class="fa fa-refresh"></i>
                    </div>
                </div>
                <div class="toolbar-center">
                    <label class="radio-inline">
                        <input type="radio" ng-model="chartType" value="0" name="selectedChartType"> Chart
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="chartType" value="1" name="selectedChartType"> Grid
                    </label>
                </div>
            </div>
            <div id="chart-wrapper">
                <div id="loader-overlay" ng-if="rendering" style="background-color: #fff">
                    <div class="loader"></div>
                </div>
                <div ng-if="!loading">
                    <div ng-switch="chartType" id="chart-container">
                        <time-series-chart-canvas  id="time-series-chart" chart-data="chartData" ng-switch-when="0"></time-series-chart-canvas>
                        <time-series-grid id="time-series-grid-container" chart-data="chartData" ng-switch-when="1"></time-series-grid>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>