<div id="explore-wrapper">

    <div id="modal-toaster"></div>

    <div id="explore-tabs">

        <ul class="vertical-tabs">
            <li class="vertical-tab ng-class:{active: (activeIndex==0)}" ng-click="setActiveIndex(0)">
                <div class="tab-icon"><i class="fa fa-line-chart fa-2x"></i></div>
                <div class="tab-text">Charts</div>
            </li>
            <li class="vertical-tab ng-class:{active: (activeIndex==1)}" ng-click="setActiveIndex(1)">
                <div class="tab-icon"><i class="fa fa-table fa-2x"></i></div>
                <div class="tab-text">Data</div>
            </li>
        </ul>

    </div>

    <div id="explore-container">

        <div class="explore-content ng-class:{active: (activeIndex==0)}">

            <explore-chart features="features" on-fetch="onFetch"></explore-chart>

        </div>

        <div class="explore-content ng-class:{active: (activeIndex==1)}">

            <explore-grid features="features"></explore-grid>

        </div>

        <div class="explore-content ng-class:{active: (activeIndex==2)}">

            <div class="feature-cards container-fluid">

                <div class="row">

                    <div class="col-md-4" ng-repeat="feature in features" ng-if="$index > 0">

                        <div class="feature-card">

                            <div class="feature-header">{{feature.column}}</div>

                            <div class="feature-item row">
                                <div class="feature-item-name pull-left">Count</div>
                                <div class="feature-item-value pull-right">{{feature.statistics.count}}</div>
                            </div>
                            <div class="feature-item row">
                                <div class="feature-item-name pull-left">Mean</div>
                                <div class="feature-item-value pull-right">{{feature.statistics.mean}}</div>
                            </div>
                            <div class="feature-item row">
                                <div class="feature-item-name pull-left">Std</div>
                                <div class="feature-item-value pull-right">{{feature.statistics.std}}</div>
                            </div>
                            <div class="feature-item row">
                                <div class="feature-item-name pull-left">Min</div>
                                <div class="feature-item-value pull-right">{{feature.statistics.min}}</div>
                            </div>
                            <div class="feature-item row">
                                <div class="feature-item-name pull-left">25%</div>
                                <div class="feature-item-value pull-right">{{feature.statistics.twentyFive}}</div>
                            </div>
                            <div class="feature-item row">
                                <div class="feature-item-name pull-left">50%</div>
                                <div class="feature-item-value pull-right">{{feature.statistics.fifty}}</div>
                            </div>
                            <div class="feature-item row">
                                <div class="feature-item-name pull-left">75%</div>
                                <div class="feature-item-value pull-right">{{feature.statistics.seventyFive}}</div>
                            </div>
                            <div class="feature-item row">
                                <div class="feature-item-name pull-left">Max</div>
                                <div class="feature-item-value pull-right">{{feature.statistics.max}}</div>
                            </div>
                            <div class="feature-item row">
                                <div class="feature-item-name pull-left">NaN Count</div>
                                <div class="feature-item-value pull-right">{{feature.statistics.missing}}</div>
                            </div>
                            <div class="feature-item row">
                                <div class="feature-item-name pull-left">Data Type</div>
                                <div class="feature-item-value pull-right">{{feature.statistics.dtype}}</div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>