<div id="load-data-wrapper" ng-switch on="activeStep">

    <div id="load-data-toaster"></div>

    <div id="load-data-evaluation" ng-class="{ 'evaluating' : isEvaluating }">
        <i class="fa fa-2x fa-gear ng-class:{'fa-spin' : isEvaluating }"></i>
    </div>

    <div id="load-data-progress">
        <progress-tracker
                radius="16"
                steps="progressSteps"
                active-step="activeStep"
                direction="direction">
        </progress-tracker>
    </div>

    <!-- select data sources -->
    <div class="load-data-container" ng-switch-when="0">

        <div class="load-data-menu" ng-style="{ 'width': menuWidth + '%' }">
            <div class="resizable-handle resizable-e" ng-mousedown="onResizeMenu($event)"></div>

            <ul class="select-data-menu">
                <li ng-class="{'active': source.sourceType==='FILES'}">
                    <a ng-click="setSourceType('FILES')">Local File System</a>
                </li>
                <li ng-class="{'active': source.sourceType==='CASSANDRA'}">
                    <a ng-click="setSourceType('HBASE')">Cassandra</a>
                </li>
                <li ng-class="{'active': source.sourceType==='WEB'}">
                    <a ng-click="setSourceType('WEB')">Web Address (URL)</a>
                </li>
                <li ng-class="{'active': source.sourceType==='MONGO'}">
                    <a ng-click="setSourceType('MONGO')">MongoDB</a>
                </li>
                <li ng-class="{'active': source.sourceType==='DV'}">
                    <a ng-click="setSourceType('DV')">DeltaV Historian</a>
                </li>
                <li ng-class="{'active': source.sourceType==='PI'}">
                    <a ng-click="setSourceType('PI')">OSI PI</a>
                </li>
            </ul>
        </div>

        <div class="load-data-content" ng-switch on="source.sourceType" ng-style="{ 'width': (100 - menuWidth) + '%' }">
            <div class="load-data-source-container" ng-switch-when="FILES">
                <div class="load-data-navbar">
                    <input type="file" id="fileBrowser" onchange="angular.element(this).scope().addFiles(this.files)" value="Browse" multiple style="display:none;">
                    <span class="pull-left">Browse or drag and drop files below:</span>
                    <button type="button" class="btn btn-default pull-right" ng-click="onBrowse($event)">Browse</button>
                </div>
                <div class="load-data-source-canvas" file-drop>
                    <div class="drop-target">Drop Data</div>

                    <div class="load-data-source" ng-repeat="file in source.dataSources">
                        <progress-circle
                                class="load-data-source-progress pull-left"
                                background-color="#ccc"
                                foreground-color="#2ca02c"
                                progress="file.progress">
                        </progress-circle>
                        <div class="load-data-source-title pull-left">
                            <div>{{file.name}}</div>
                            <div class="load-data-source-label">File Name</div>
                        </div>
                        <div class="load-data-source-close pull-right" ng-click="onFileRemove(file.name)">
                            <a><i class="fa fa-times"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="load-data-source-container" ng-switch-when="HBASE">

                <div class="load-data-navbar">
                    <span class="pull-left">Build an HBase Query:</span>
                </div>

                <div class="load-data-query-container">
                    <div class="load-data-query">
                        <div class="load-data-query-controls">

                            <div class="add-series">
                                <date-time-picker header="Start Date" value="dateRange.startTime"></date-time-picker>
                            </div>

                        </div>
                        <div class="load-data-query-buttons">
                            <button type="button" class="btn btn-success pull-right" ng-click="onQuery($event)">Query</button>
                        </div>
                    </div>
                    <div class="load-data-query-result">

                    </div>
                </div>

            </div>
            <div class="load-data-source-container" ng-switch-default>
                This features has not been implemented.
            </div>
        </div>

    </div>

    <!-- parse data -->
    <div class="load-data-container" ng-switch-when="1">

        <div class="load-data-menu" ng-style="{ 'width': menuWidth + '%' }">
            <div class="resizable-handle resizable-e" ng-mousedown="onResizeMenu($event)"></div>

            <ul class="select-data-menu">
                <li ng-class="{'active': parse.parseType==='SEPARATED_VALUES'}">
                    <a ng-click="setParseType('SEPARATED_VALUES')">Separator Based Files</a>
                    <div expand="parse.parseType==='SEPARATED_VALUES'" class="control-container">
                        <div class="load-data-menu-controls">
                            <div class="form-group">
                                <label>Delimiter</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="delimiterOptions" ng-model="parse.delimiterType" ng-value="'COMMA'">
                                        Comma (CSV)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="delimiterOptions" ng-model="parse.delimiterType" ng-value="'TAB'">
                                        Tab (TSV)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="delimiterOptions" ng-model="parse.delimiterType" ng-value="'OTHER'">
                                        Other
                                    </label>
                                    <input type="text" class="form-control" ng-model="parse.delimiterChar" style="display: inline-block; width: 50px; height: 20px; margin-left: 10px;" maxlength="1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Header</label>
                                <input type="text" class="form-control" ng-model="parse.header">
                            </div>
                            <div class="form-group">
                                <label>Rows to Skip</label>
                                <input type="text" class="form-control" ng-model="parse.skip">
                            </div>
                            <div class="form-group">
                                <label>Quote Character</label>
                                <input type="text" class="form-control" ng-model="parse.quoteChar" maxlength="1">
                            </div>
                            <div class="form-group">
                                <label>Comment Character</label>
                                <input type="text" class="form-control" ng-model="parse.commentChar" maxlength="1">
                            </div>
                            <div class="form-group">
                                <label>NA Values</label>
                                <input type="text" class="form-control" ng-model="parse.naValues">
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-class="{'active': parse.parseType==='SPREADSHEET'}">
                    <a ng-click="setParseType('SPREADSHEET')">Spreadsheet</a>
                    <div expand="parse.parseType==='SPREADSHEET'" class="control-container">
                        <div class="load-data-menu-controls">
                            <div class="form-group">
                                <label>Sheet</label>
                                <input type="text" class="form-control" ng-model="parse.page">
                            </div>
                            <div class="form-group">
                                <label>Header</label>
                                <input type="text" class="form-control" ng-model="parse.header">
                            </div>
                            <div class="form-group">
                                <label>Rows to Skip</label>
                                <input type="text" class="form-control" ng-model="parse.skip">
                            </div>
                            <div class="form-group">
                                <label>NA Values</label>
                                <input type="text" class="form-control" ng-model="parse.naValues">
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-class="{'active': parse.parseType==='JSON'}">
                    <a ng-click="setParseType('JSON')">JSON</a>
                    <div expand="parse.parseType==='JSON'" class="control-container">
                        <div class="load-data-menu-controls" style="height: 100px;">This features has not been implemented.</div>
                    </div>
                </li>
                <li ng-class="{'active': parse.parseType==='XML'}">
                    <a ng-click="setParseType('XML')">XML</a>
                    <div expand="parse.parseType==='XML'" class="control-container">
                        <div class="load-data-menu-controls" style="height: 100px;">This features has not been implemented.</div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="load-data-content" ng-style="{ 'width': (100 - menuWidth) + '%' }">

            <div ng-if="isEvaluating" class="load-data-overlay"></div>

            <div ng-show="previewMode==0" class="load-data-tab" style="padding-top: 15px;">
                <explore-grid features="features"></explore-grid>
            </div>

            <div ng-show="previewMode==1" class="load-data-tab">
                <explore-chart features="features" on-fetch="onFetch"></explore-chart>
            </div>

            <ul class="load-data-tabs">
                <li ng-class="{ 'active' : previewMode == 1 }" ng-click="setPreviewMode(1)"><a><i class="fa fa-line-chart"></i>Chart</a></li>
                <li ng-class="{ 'active' : previewMode == 0 }" ng-click="setPreviewMode(0)"><a><i class="fa fa-table"></i>Grid</a></li>
            </ul>

        </div>

    </div>

    <!-- clean data -->
    <div class="load-data-container" ng-switch-when="2">

        <div id="transformations-menu" ng-style="{ 'width': menuWidth + '%' }">
            <div class="resizable-handle resizable-e" ng-mousedown="onResizeMenu($event)"></div>

            <div id="transformations">

                <ul>
                    <li ng-repeat="transformation in transformations">
                        <div class="transformation-type" ng-switch on="transformation.transformationType">
                            <i ng-switch-when="FILTER" class="fa fa-filter"></i>
                        </div>
                        <div class="transformation-source">{{transformation.source}}</div>
                        <div style="clear: both;"></div>
                    </li>
                </ul>

            </div>

            <div id="transformation-input" ng-style="{ 'top': terminalPosition + 'px' }">

                <div id="transformation-controls">

                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control" ng-model="newTransformation.transformationType">
                            <option value="FILTER">Filter</option>
                            <option value="MAP">Map</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Source</label>
                        <textarea ui-codemirror="{ onLoad : codemirrorLoaded }" ng-model="newTransformation.source" ui-codemirror-opts="codeMirrorOptions" placeholder="Enter Python Code..."></textarea>
                    </div>

                </div>

            </div>

            <div class="terminal-menu">
                <div class="terminal-buttons">
                    <div ng-show="isTerminalInputOpen" class="terminal-button terminal-input-button terminal-input-cancel ng-class:{ 'active':isTerminalInputOpen }">
                        <a ng-click="onTerminalClose()">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <div ng-show="isTerminalInputOpen" class="terminal-button terminal-input-button terminal-input-send ng-class:{ 'active':isTerminalInputOpen }">
                        <a ng-click="onTransformationAdd()">
                            <i class="fa fa-paper-plane"></i>
                        </a>
                    </div>
                    <div ng-if="!isTerminalInputOpen" class="terminal-button terminal-input-open">
                        <a ng-click="onTerminalOpen()">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="load-data-content" ng-style="{ 'width': (100 - menuWidth) + '%' }">

            <div ng-if="isEvaluating" class="load-data-overlay"></div>

            <div ng-show="previewMode==0" class="load-data-tab" style="padding-top: 15px;">
                <explore-grid features="features"></explore-grid>
            </div>

            <div ng-show="previewMode==1" class="load-data-tab">
                <explore-chart features="features" data="chartData" methods="chartMethods" on-fetch="onFetch"></explore-chart>
            </div>

            <ul class="load-data-tabs">
                <li ng-class="{ 'active' : previewMode == 1 }" ng-click="setPreviewMode(1)"><a><i class="fa fa-line-chart"></i>Chart</a></li>
                <li ng-class="{ 'active' : previewMode == 0 }" ng-click="setPreviewMode(0)"><a><i class="fa fa-table"></i>Grid</a></li>
            </ul>

        </div>

    </div>

</div>