<div id="load-data-wrapper" ng-switch on="activeStep">

    <div id="load-data-toaster"></div>

    <div id="load-data-evaluation" ng-class="{ 'evaluating' : isEvaluating }">
        <i class="fa fa-2x fa-gear ng-class:{'fa-spin' : isEvaluating }"></i>
    </div>

    <div id="load-data-progress">
        <progress-tracker
                radius="16"
                steps="progressSteps"
                active-step="activeStep"
                direction="direction">
        </progress-tracker>
    </div>

    <!-- select data sources -->
    <div class="load-data-container" ng-switch-when="0">

        <div class="load-data-menu" ng-style="{ 'width': menuWidth + '%' }">
            <div class="resizable-handle resizable-e" ng-mousedown="onResizeMenu($event)"></div>

            <ul>
                <li ng-class="{'active': source.sourceType==='FILES'}">
                    <a ng-click="setSourceType('FILES')">Local File System</a>
                </li>
                <li ng-class="{'active': source.sourceType==='WEB'}">
                    <a ng-click="setSourceType('WEB')">Web Address (URL)</a>
                </li>
                <li ng-class="{'active': source.sourceType==='HBASE'}">
                    <a ng-click="setSourceType('HBASE')">HBase</a>
                </li>
                <li ng-class="{'active': source.sourceType==='MONGO'}">
                    <a ng-click="setSourceType('MONGO')">MongoDB</a>
                </li>
                <li ng-class="{'active': source.sourceType==='DV'}">
                    <a ng-click="setSourceType('DV')">DeltaV Historian</a>
                </li>
                <li ng-class="{'active': source.sourceType==='PI'}">
                    <a ng-click="setSourceType('PI')">OSI PI</a>
                </li>
            </ul>
        </div>

        <div class="load-data-content" ng-style="{ 'width': (100 - menuWidth) + '%' }">
            <div class="load-data-source-container" ng-show="source.sourceType==='FILES'">
                <div class="load-data-navbar">
                    <input type="file" id="fileBrowser" onchange="angular.element(this).scope().addFiles(this.files)" value="Browse" multiple style="display:none;">
                    <span class="pull-left">Browse or drag and drop files below:</span>
                    <button type="button" class="btn btn-default pull-right" ng-click="onBrowse($event)">Browse</button>
                </div>
                <div class="load-data-source-canvas" file-drop>
                    <div class="drop-target">Drop Data</div>

                    <div class="load-data-source" ng-repeat="file in source.dataSources">
                        <progress-circle
                                class="load-data-source-progress pull-left"
                                background-color="#ccc"
                                foreground-color="#2ca02c"
                                progress="file.progress">
                        </progress-circle>
                        <div class="load-data-source-title pull-left">
                            <div>{{file.name}}</div>
                            <div class="load-data-source-label">File Name</div>
                        </div>
                        <div class="load-data-source-close pull-right" ng-click="onFileRemove(file.name)">
                            <a><i class="fa fa-times"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="load-data-source-container" ng-show="source.sourceType!=='FILES'">
                This features has not been implemented.
            </div>
        </div>

    </div>

    <!-- parse data -->
    <div class="load-data-container" ng-switch-when="1">

        <div class="load-data-menu" ng-style="{ 'width': menuWidth + '%' }">
            <div class="resizable-handle resizable-e" ng-mousedown="onResizeMenu($event)"></div>

            <ul>
                <li ng-class="{'active': parse.parseType==='SEPARATED_VALUES'}">
                    <a ng-click="setParseType('SEPARATED_VALUES')">Separator Based Files</a>
                    <div expand="parse.parseType==='SEPARATED_VALUES'" class="control-container">
                        <div class="load-data-menu-controls">
                            <div class="checkbox" style="margin-bottom: 15px;">
                                <label>
                                    <input type="checkbox" ng-model="parse.header">
                                    Header Row
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Delimiter</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="delimiterOptions" ng-model="parse.delimiterType" ng-value="'COMMA'">
                                        Comma (CSV)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="delimiterOptions" ng-model="parse.delimiterType" ng-value="'TAB'">
                                        Tab (TSV)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="delimiterOptions" ng-model="parse.delimiterType" ng-value="'OTHER'">
                                        Other
                                    </label>
                                    <input type="text" class="form-control" ng-model="parse.delimiterChar" style="display: inline-block; width: 50px; height: 20px; margin-left: 10px;" maxlength="1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mode</label>
                                <select class="form-control" ng-model="parse.missingValueMode">
                                    <option value="PERMISSIVE">Permissive</option>
                                    <option value="DROPMALFORMED">Drop Malformed</option>
                                    <option value="FAILFAST">Fail Fast</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Quote Character</label>
                                <input type="text" class="form-control" ng-model="parse.quoteChar" maxlength="1">
                            </div>
                            <div class="form-group">
                                <label>Comment Character</label>
                                <input type="text" class="form-control" ng-model="parse.commentChar" maxlength="1">
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-class="{'active': parse.parseType==='JSON'}">
                    <a ng-click="setParseType('JSON')">JSON</a>
                    <div expand="parse.parseType==='JSON'" class="control-container">
                        <div class="load-data-menu-controls" style="height: 100px;">This features has not been implemented.</div>
                    </div>
                </li>
                <li ng-class="{'active': parse.parseType==='XML'}">
                    <a ng-click="setParseType('XML')">XML</a>
                    <div expand="parse.parseType==='XML'" class="control-container">
                        <div class="load-data-menu-controls" style="height: 100px;">This features has not been implemented.</div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="load-data-content" ng-style="{ 'width': (100 - menuWidth) + '%' }" ng-switch on="previewMode">

            <div ng-switch-when="0" class="load-data-tab" style="padding-top: 15px;">
                <explore-grid features="features"></explore-grid>
            </div>

            <div ng-switch-when="1" class="load-data-tab">
                <explore-chart features="features" methods="chartMethods" on-fetch="onFetch"></explore-chart>
            </div>

            <ul class="load-data-tabs">
                <li ng-class="{ 'active' : previewMode == 1 }" ng-click="setPreviewMode(1)"><a><i class="fa fa-line-chart"></i>Chart</a></li>
                <li ng-class="{ 'active' : previewMode == 0 }" ng-click="setPreviewMode(0)"><a><i class="fa fa-table"></i>Grid</a></li>
            </ul>

        </div>

    </div>

    <!-- clean data -->
    <div class="load-data-container" ng-switch-when="2">
        Loading data
    </div>

</div>