<div id="dashboard-wrapper">

    <div class="navbar"></div>

    <div class="dashboard-cards container-fluid">

        <div class="row">

            <div class="col-sm-3 col-xs-6">

                <div class="dashboard-card"></div>

            </div>

            <div class="col-sm-3 col-xs-6">

                <div class="dashboard-card"></div>

            </div>

            <div class="col-sm-3 col-xs-6">

                <div class="dashboard-card"></div>

            </div>

            <div class="col-sm-3 col-xs-6">

                <div class="dashboard-card"></div>

            </div>

        </div>

    </div>

</div>