
<div id="studio-wrapper"
     ng-controller="analyticsController"
     ng-class="{'show-sidebar': showSidebar, 'blur-background': blurBackground}">

    <div id="diagrams-menu" class="sidebar-offcanvas">

        <div class="col-xs-4 diagrams-menu-header">
            <button type="button" class="btn btn-default navbar-btn pull-left" ng-click="toggleDiagrams()">
                <i class="fa fa-toggle-left fa-lg"></i>
            </button>
            <button type="button" class="btn btn-default navbar-btn pull-right" ng-click="createDiagram()">
                <i class="fa fa-plus fa-lg"></i>
            </button>
        </div>

        <div class="diagrams-menu-body">
            <div class="diagrams-menu-body-item" ng-model="diagrams" ng-repeat="d in diagrams">
                <div class="diagrams-menu-body-item-name" ng-click="loadDiagram(d.name)">
                    {{d.name}}
                </div>
                <div class="diagrams-menu-body-item-options">
                    <div class="diagrams-menu-body-item-options-toggle" ng-click="d.showProperties = !d.showProperties">
                        <i class="fa ng-class:{ 'fa-toggle-on': d.showProperties, 'fa-toggle-off': !d.showProperties }"></i>
                        <small>Properties</small>
                    </div>
                    <div class="diagrams-menu-body-item-options-delete" ng-click="deleteDiagram(d.name)">
                        <i class="fa fa-trash-o fa-lg"></i>
                    </div>
                </div>
                <div class="fade diagrams-menu-body-item-info-container" ng-show="d.showProperties">
                    <div ng-show="d.owner" class="fade diagrams-menu-body-item-info">
                        <i class="fa fa-user"></i>
                        <small>{{d.owner}}</small>
                    </div>
                    <div ng-show="d.description" class="fade diagrams-menu-body-item-info">
                        <i class="fa fa-file-text-o"></i>
                        <small>{{d.description}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="diagrams-menu-footer">
            <div class="diagrams-menu-footer-name">
                <b>Data Analytics Studio v0.1</b>
            </div>
            <div class="diagrams-menu-footer-company">
                <i class="fa fa-copyright"></i>
                <small>Emerson Process Management</small>
            </div>
        </div>

    </div>

    <div class="navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4">
                    <button type="button" class="btn btn-default navbar-btn pull-left" ng-click="toggleDiagrams()">
                        <!--<i class="fa ng-class:{ 'fa-toggle-left fa-lg': showSidebar, 'fa-toggle-right fa-lg': !showSidebar }"></i>-->
                        <i class="fa fa-bars"></i>
                    </button>
                    <span class="navbar-title">{{diagramViewModel.data.name}}</span>
                </div>
                <div class="col-xs-4 navbar-tabs">
                    <span class="navbar-tab ng-class:{'selected': !onlineCanvas}" ng-click="toggleCanvas(false);">Offline</span>
                    <span class="navbar-tab ng-class:{'selected': onlineCanvas}" ng-click="toggleCanvas(true);">Online</span>
                </div>
                <div class="col-xs-4">
                    &#160;
                </div>
            </div>
        </div>
    </div>

    <div id="studio-container">

        <div id="studio-canvases" ng-class="{'flipped': onlineCanvas}">

            <div id="offline-canvas" class="studio-canvas">

                <div class="library-controls">
                    <button type="button" class="btn btn-default" ng-click="toggleLibrary($event)">
                        <i class="fa fa-th"></i>
                    </button>
                </div>

                <div class="studio-controls btn-group">
                    <button type="button" class="btn btn-default" ng-click="toggleDiagramConfiguration($event)">
                        <i class="fa fa-wrench"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="save($event)">
                        <i class="fa fa-save"></i>
                    </button>
                    <button type="button"
                            class="btn btn-default ng-class:{ 'diagram-evaluating' : evaluating }"
                            ng-disabled="evaluating"
                            ng-click="evaluate($event)">

                        <i class="fa ng-class:{ 'fa-cog fa-spin': evaluating, 'fa-play': !evaluating }"></i>
                    </button>
                </div>

                <div class="diagram-container">

                    <diagram id="offline-diagram"
                             view-model="diagramViewModel"
                             is-online="onlineCanvas"
                             nodes="nodes"
                             library="library"
                             load-sources="loadSources"
                             get-block-data="getBlockData"
                             blur-background="blurBackground"></diagram>

                </div>
            </div>

            <div id="online-canvas" class="studio-canvas">

                <div class="studio-controls btn-group">
                    <button type="button" class="btn btn-default" ng-click="deploy($event)">
                        <i class="fa fa-rocket"></i>
                    </button>
                </div>

                <div ng-if="!compiling" class="diagram-container">

                    <diagram id="online-diagram"
                             view-model="onlineViewModel"
                             is-online="onlineCanvas"
                             nodes="nodes"
                             library="library"
                             load-sources="loadSources"
                             get-block-data="getBlockData"
                             blur-background="blurBackground"></diagram>

                </div>

                <div id="loader-overlay" ng-if="compiling">
                    <div class="loader"></div>
                </div>

            </div>
        </div>

    </div>

</div>
