
<div id="studio-canvas">

    <div class="container-fluid">

        <div class="row">

            <div id="diagram-container">

                <div id="studio-controls" class="btn-group">
                    <button type="button" class="btn btn-default">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="evaluate($event)">
                        <i class="fa fa-play"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="toggleDiagramConfiguration($event)">
                        <i class="fa fa-wrench"></i>
                    </button>
                </div>

                <diagram view-model="diagramViewModel"
                         nodes="nodes"
                         library="library"
                        load-sources="loadSources"></diagram>

            </div>

        </div>
    </div>

</div>


