<div class="emr-modal"
     ng-style="{top: position.startY, left: position.startX, width: position.width, height: position.height }">

    <div class="emr-modal-header">
        <span class="header-text">{{modal.name}}</span>
    </div>

    <div class="emr-modal-body">
        <ng-transclude></ng-transclude>
    </div>

    <div class="emr-modal-footer">
        <button type="button" class="btn btn-default" ng-click="onClose()">{{::modal.cancel || Cancel}}</button>
        <button type="button" class="btn btn-success" ng-click="onSave()">{{::modal.save || Save}}</button>
    </div>

</div>
